{% extends "shop/base_page.html" %}
{% load i18n %}
{% block title %}{{ user.username }}{% endblock %}

{% block page_content %}
<div class="row g-4">
    <div class="col-12 col-sm-8">
      <div class="card px-3 py-3">
        <div class="card-body">
            <h3 class="card-title mb-3">{% trans "Email address successfully confirmed!" %}</h3>
            <p class="card-text">{% trans "Thank you for confirming your email address. You will now regularly receive our newsletter." %}</p>
            <a href="/" class="btn btn-primary">{% trans "Go to homepage" %}</a>
        </div>
      </div>
    </div>
</div>
{% endblock page_content %}
