{% extends "newsletter/mail/base_email.html" %}
{% load wagtailcore_tags wagtailimages_tags static wagtailimages_tags newsletter_tags %}


{% block email_body %}
    {% for block in page.body %}
        <mj-section padding="0">
            <mj-column>
                    {% if block.block_type == "rich_text" %}
                    <mj-text align="{{ block.value.alignment }}">
                        {{ block.value.text|newsletter_richtext }}
                    </mj-text>
                    {% elif block.block_type == "image" %}
                        {% image block.value.image width-1200 as image %}
                        <mj-image src="{{ absolute_url }}{{ image.full_url }}" />
                    {% else %}
                        {% include_block block %}
                    {% endif %}
            </mj-column>
        </mj-section>
    {% endfor %}
    {% if page.author %}
        <mj-section padding="25px 0">
            <mj-column>
                <mj-text padding="0 25px">
                    —
                </mj-text>
                <mj-text padding="0 25px">
                    {{ page.author }}
                </mj-text>
            </mj-column>
        </mj-section>
    {% endif %}
{% endblock email_body %}
