{% extends "newsletter/mail/base_email.html" %}
{% load wagtailcore_tags wagtailimages_tags static wagtailimages_tags newsletter_tags %}


{% block email_body %}
    {% for block in page.body %}
        <mj-section padding="0">
            <mj-column>
                    {% if block.block_type == "rich_text" %}
                    <mj-text align="{{ block.value.alignment }}">
                        {{ block.value.text|newsletter_richtext }}
                    </mj-text>
                    {% elif block.block_type == "image" %}
                        {% image block.value.image width-1200 as image %}
                        <mj-image src="{{ image.full_url }}" padding="0"/>
                        {% if block.value.caption %}<mj-text font-size="13px" align="center" padding="0">{{ block.value.caption }}</mj-text>{% endif %}
                    {% else %}
                        {% include_block block %}
                    {% endif %}
            </mj-column>
        </mj-section>
    {% endfor %}
{% endblock email_body %}
