{% extends "shop/base_page.html" %}
{% load i18n %}
{% block title %}{{ user.username }}{% endblock %}

{% block page_content %}
<div class="row g-4">
    <div class="col-12 col-sm-8">
      <div class="card px-3 py-3">
        <div class="card-body">
            <h1 class="card-title">{% trans 'Unsubscription successful' %}</h1>
            {% blocktrans %}
            <p class="card-text">The email address <strong>{{ contact.email }}</strong> has been unsubscribed from the mailing list <strong>{{ list }}</strong>.<br>
            <p>If this was a mistake, please go back to your <a href="{{ site.root_page.full_url }}">profile</a> to subscribe again.</p>
            {% endblocktrans %}
        </div>
      </div>
    </div>
</div>
{% endblock page_content %}
