{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row flex-nowrap">
      {% include "workshop/includes/sidebar.html" %}
      <div class="col">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
      
          <div class="row">
          {% block page_content %}
            <p>Use this document as a way to quick start any new project.</p>
          {% endblock page_content %}
          </div>
        </div>
{% endblock content %}