{% extends "workshop/base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% trans "Update orders" %}{% endblock %}
{% block page_heading %}
{% trans "Update orders for" %} <small class="text-muted">{{ production_day }}</small>
{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col col-sm-12">
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      <div class="row mb-4">
        <div class="col">
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary float-end" name="add-new">
                {% trans "Update orders" %}
              </button>
              {% if next %}
              <a href="{{ next }}" class="btn btn-outline-primary float-end me-2">
              {% else %}
              <a href="{% url 'workshop:production-day-list' %}" class="btn btn-outline-primary float-end me-2">
              {% endif %}{% trans "Cancel" %}</a>
            </div>
          </div>
          </div>
      </div>
      <input type="hidden" name="next" value="{{ next }}" />
      {{ formset.management_form }}
      <div class="card p-3 mb-3 formset-container">
      {% for form in formset %}
        <div class="formset">
          <div class="row">
            <div class="col">
              {% if forloop.first %}
              <label class="form-label fw-bold">{% trans "Customer" %}</label>
              {% endif %}
              {% bootstrap_field form.customer_name show_label='skip' %}
              {% bootstrap_field form.customer show_label='skip' %}
            </div>
            {% for field in form.get_product_fields %}
            <div class="col">
              {% if forloop.parentloop.first %}
                {% bootstrap_field field label_class='fw-bold' %}
              {% else %}
                {% bootstrap_field field show_label='skip' %}
              {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
        <span id="formset-before-element"></span>
      </div>
      <div class="row mt-4">
        <div class="col">
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary float-end" name="add-new">
                {% trans "Update orders" %}
              </button>
              {% if next %}
              <a href="{{ next }}" class="btn btn-outline-primary float-end me-2">
              {% else %}
              <a href="{% url 'workshop:production-day-list' %}" class="btn btn-outline-primary float-end me-2">
              {% endif %}{% trans "Cancel" %}</a>
            </div>
          </div>
          </div>
      </div>
    </form>
  </div>
</div>
{% include "workshop/includes/formset.html" %}
{% endblock %}
