{% extends "workshop/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_heading %}{% trans "Delete order" %}{% endblock page_heading %}

{% block page_content %}
<div id="content-container" class="container p-none">
    <div class="side-p">
        <h3>{% trans "Are you sure?" %}</h3>
        <p>{% blocktranslate %}You're about to delete the following customer order: <strong>{{ object }}</strong>. Please confirm, .{% endblocktranslate%}</p>
        <form action="" method="post">
            {% csrf_token %}
            <input class="btn btn-link" 
                   type="button" value="{% trans 'Cancel' %}" 
                   onclick="window.history.go(-1);"/>
            <input class="btn btn-primary" type="submit" value="{% trans 'Confirm' %}"/>
        </form>
    </div>
</div>
{% endblock %}

