{% extends "workshop/base.html" %}
{% load crispy_forms_tags %}
{% load utils i18n %}

{% block page_heading %}Delete customer{% endblock page_heading %}

{% block page_content %}
<div id="content-container" class="container">
    <div>
        {% blocktranslate trimmed %}
        <p>You're about to delete the following customer: <strong>{{ object }}</strong> and all the related objects. Please confirm!</p>
        {% endblocktranslate %}
            <ul>
            {{ deletable_objects|unordered_list }}
            {{ protected|unordered_list }}
            </ul>
            <p class="fw-bold">This action cannot be reversed.</p>
            <form action="" method="post">
                {% csrf_token %}
                <input class="btn btn-link"
                    type="button" value="{% trans 'Cancel' %}"
                    onclick="window.history.go(-1);"/>
                <input class="btn btn-primary" type="submit" value="{% trans 'Confirm' %}"/>
            </form>
    </div>
</div>
{% endblock %}
