{% extends "workshop/base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% trans "Add new production day" %}{% endblock %}
{% block page_heading %}
{% if object %}{% trans "Update customer order" %}{% else %}{% trans "Add new production day" %}{% endif %}
{% endblock %}

{% block page_content %}
<form class="form-horizontal" method="post">
<div class="row mb-4">
  <div class="col-3">
    <div class="card p-3 mb-3">
      <ul class="list-unstyled mt-3 mb-3">
        <li><i class="fa-solid fa-calendar-day fa-fw"></i>{{ object.production_day }}</li>
        <li><i class="fa-solid fa-user fa-fw"></i>{{ object.customer }}</li>
      </ul>
      {% bootstrap_field form.point_of_sale %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-sm-12">
      {% csrf_token %}
      {{ formset.management_form }}
      <div class="card p-3 mb-3 formset-container">
      {% for form in formset %}
        <div class="formset">
          <div class="row">
            <div class="col">
              {% bootstrap_field form.product layout='horizontal'  horizontal_label_class='col-md-3' horizontal_field_class='col-md-9' %}
            </div>
            <div class="col">
              {% bootstrap_field form.quantity layout='horizontal' horizontal_label_class='col-md-3' horizontal_field_class='col-md-9' %}
            </div>
            <div class="col">
              {% bootstrap_field form.DELETE layout='horizontal' whorizontal_label_class='col-md-3' horizontal_field_class='col-md-9' %}
              {% bootstrap_field form.id %}
            </div>
          </div>
        </div>
        {% endfor %}
        <span id="formset-before-element"></span>
      </div>
      <div class="row">
        <div class="col">
          <a id="add-form" class="btn btn-dark d-inline float-end"><i class="fa-solid fa-circle-plus"></i> {% trans "Add another product" %}</a>
        </div>
      </div>
      
      <div class="row mt-4">
        <div class="col">
          <div class="control-group">
            <div class="controls">
              <a class="btn btn-outline-primary" onclick="window.history.go(-1);">{% trans "Cancel" %}</a>
              <button type="submit" class="btn btn-primary" name="add-new">
                {% if object %}{% trans "Update customer order" %}{% else %}{% trans "Add new production day" %}{% endif %}
              </button>
            </div>
          </div>
          </div>  
      </div>
    </div>
  </div>
</form>
{% include "workshop/includes/formset.html" %}
{% endblock %}