{% extends "workshop/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Update Instructions" %}{% endblock %}
{% block page_heading %}
<h1>{% trans "Update Instructions" %}</h1>
{% endblock %}

{% block page_content %}

  <form class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary" name="add-new">
          {% if object %}{% trans "Update" %}{% else %}{% trans "Add" %}{% endif %}
        </button>
      </div>
    </div>
  </form>

{% endblock %}
