{% extends "workshop/base.html" %}
{% load django_bootstrap5 %}
{% load export_url from django_tables2 %}
{% load render_table from django_tables2 %}

{% block title %}Orders{% endblock %}
{% block page_heading %}Orders{% endblock %}

{% block page_heading_action %}
<form action="{% url 'workshop:order-add' %}" method="post">
  {% csrf_token %}
  <div class="row justify-content-end">
    <div class="col-10 text-end">
      <a href="{% export_url "csv" %}" class="btn btn-primary btn-sm"><i class="fas fa-file-download"></i> Export as CSV</a>
    </div>
  </div>
  </form>
{% endblock %}

{% block page_content %}
  {% if filter %}
  <form action="" method="get" class="form form-inline d-print-none mb-4">
    <div class="row justify-content-end g-2">
      <div class="col-2">
        {% bootstrap_field filter.form.customer size='sm' wrapper_class='' layout='horizontal' show_label=False horizontal_field_class='col-12' %}
      </div>
      <div class="col-2">
        {% bootstrap_field filter.form.point_of_sale size='sm' wrapper_class='' layout='horizontal' show_label=False horizontal_field_class='col-12' %}
      </div>
      <div class="col-2">
        {% bootstrap_field filter.form.production_day size='sm' wrapper_class='' layout='horizontal' show_label=False horizontal_field_class='col-12' %}
      </div>
      <div class="col-2">
        {% bootstrap_button "Filter" button_type="submit" button_class="btn-outline-primary" size="sm" %}
        <button type="submit" name="reset-filters" class="btn btn-outline-primary btn-sm"><i class="fas fa-times"></i> Reset filters</button>
      </div>
    </div>

  </form>
  {% endif %}
  {% render_table table %}
 
  
{% endblock %}