{% extends "workshop/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Add new product" %}{% endblock %}
{% block page_heading %}
{% if object %}
<h1>{% trans "Update" %}: {{ object.name }}</h1>
{% else %}
<h2>{% trans "Add new point of sale" %}</h2>
{% endif %}
{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col col-md-6">
      <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <a class="btn btn-outline-primary" href="{% url 'workshop:point-of-sale-list' %}">{% trans "Back" %}</a>
            <button type="submit" class="btn btn-primary" name="add-new">
              {% if object %}{% trans "Update" %}{% else %}{% trans "Add" %}{% endif %}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
