{% extends "workshop/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add new production day{% endblock %}
{% block page_heading %}
{% if object %}Update production day{% else %}Add new production day{% endif %}
{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col col-sm-4">
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      {{ formset.management_form }}
      <div class="card p-3 mb-3">
        {{ form|crispy }}
      </div>
      
      <div class="card p-3 mb-3 formset-container">
      {% for form in formset %}
        <div class="formset border-bottom mb-2">
          {{ form|crispy }}
        </div>
        {% endfor %}
        <a id="add-form" class="btn btn-dark d-inline"><i class="fa-solid fa-circle-plus"></i> Add another product</a>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary" name="add-new">
            {% if object %}Update production day{% else %}Create production day{% endif %}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  let formsetContainer = document.querySelector('.formset-container');
  let formset = document.querySelectorAll(".formset");
  let addButton = document.querySelector("#add-form");
  let totalForms = document.querySelector("#id_form-TOTAL_FORMS");

  let formNum = formset.length-1;
  addButton.addEventListener('click', addForm);

  function addForm(e){
      e.preventDefault();

      let newForm = formset[0].cloneNode(true);
      let formRegex = RegExp(`form-(\\d){1}-`,'g');

      formNum++;
      newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`);
      console.log(formset, addButton, totalForms, newForm);
      formsetContainer.insertBefore(newForm, addButton);
      
      totalForms.setAttribute('value', `${formNum+1}`);
  }
</script>
{% endblock %}