{% extends "workshop/base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block title %}Production plans{% endblock %}
{% block page_heading %}
<span class="d-print-none">{% trans "Production plans" %} <small class="text-muted">{{ day_of_sale_selected }}</small></span>
{% endblock %}
{% block page_heading_action %}
<a href="{% url 'workshop:production-plan-add' %}" class="btn btn-primary btn-sm float-end me-2">{% trans "Add or update production plans" %}</a>
{% endblock%}

{% block page_content %}
<div class="row mt-2 mb-4">
  <div class="col-8">
    <h6 class="d-none d-print-block">{% trans "Production plans" %} {{ day_of_sale_selected }}</h6>
  </div>
</div>
  {% if filter %}
  <form action="" method="get" class="form form-inline d-print-none">
    <div class="row justify-content-end">
      <div class="col-6 text-end align-middle">
        {% for choice in filter.form.state.field.widget.choices %}
        <div class="form-check form-check-inline">
          <input class="form-check-input" name="state" type="checkbox" id="productionPlanState{{ choice.0 }}" value="{{ choice.0 }}"{% if choice.0|stringformat:"i" in filter.form.state.value %} checked{% endif %}>
          <label class="form-check-label" for="productionPlanState{{ choice.0 }}">{{ choice.1 }}</label>
        </div>
        {% endfor %}
      </div>
      <div class="col-3">
        {% bootstrap_field filter.form.production_day size='sm' wrapper_class='' layout='horizontal' show_label=False horizontal_field_class='col-12' success_css_class='' %}
      </div>
      <div class="col-2">
        {% bootstrap_button "Filter" button_type="submit" button_class="btn-outline-primary" size="sm" %}
        <button type="submit" name="reset-filters" class="btn btn-outline-primary btn-sm"><i class="fas fa-times"></i> {% trans "Reset filters" %}</button>
      </div>
    </div>
  </form>
  {% endif %}
<div class="row">
  <div class="col">
    {% include "workshop/includes/production_plan_table.html" with production_plans=production_plans %}
  </div>
</div>
  
{% endblock %}