{% extends "workshop/base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}

{% block title %}Add new production day{% endblock %}
{% block page_heading %}
{% if object %}Update production day{% else %}Add new production day{% endif %}
{% endblock %}

{% block page_content %}
<form class="form-horizontal" method="POST">
  <input type="hidden" name="next" value="{{ next }}" />
<div class="row">
  <div class="col col-sm-4">
      {% csrf_token %}
      {{ formset.management_form }}
      <div class="card p-3 mb-3">
        {% bootstrap_field form.day_of_sale %}
        {% bootstrap_field form.description %}
      </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card p-3 mb-3 formset-container">
      {% for formset_form in formset %}
        <div class="row formset border-bottom mb-2">
          <div class="col">
            {% bootstrap_field formset_form.product label_class='fw-bold' %}
          </div>
          <div class="col">
            {% bootstrap_field formset_form.max_quantity label_class='fw-bold' %}
          </div>
          <div class="col">
            {% bootstrap_field formset_form.is_published label_class='fw-bold' %}
          </div>
          <div class="col">
            {% bootstrap_field formset_form.DELETE label_class='fw-bold' %}
            {% bootstrap_field formset_form.id %}
          </div>
        </div>
      {% endfor %}
      <span id="formset-before-element"></span>
      <a id="add-form" class="btn btn-dark d-inline"><i class="fa-solid fa-circle-plus"></i> Add another product</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary" name="add-new">
          {% if object %}Update production day{% else %}Create production day{% endif %}
        </button>
      </div>
    </div>
  </div>
</div>
</form>
{% include "workshop/includes/formset.html" %}
{% endblock %}