{% extends "workshop/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Add new product{% endblock %}

{% block page_content %}
<div class="row mt-2 mb-4">
  <div class="col-7">
    <h1>{{ object.name }} {{ object.get_physical_representation }}</h1>
  </div>
  <div class="col-5 align-self-center">
    <div class="btn-group btn-group-sm float-end" role="group" aria-label="Basic example">
      <a href="{% url 'workshop:product-update' pk=object.pk %}" class="btn btn-primary"><i class="fas fa-edit"></i> Edit product</a>
      <a href="{% url 'workshop:product-add' pk=object.pk %}" class="btn btn-primary"><i class="fas fa-circle-plus"></i> Add product</a>
      <a href="{% url 'workshop:product-delete' pk=object.pk %}" class="btn btn-primary"><i class="fas fa-trash-can"></i> Delete product</a>
    </div>
  </div>
</div>
<div class="row mb-5">
  <div class="col-10">
    <p>
      {{ object.description|safe }}
    </p>
    <ul class="list-unstyled">
      <li>{% if object.is_sellable %}<i class="fa-solid fa-circle-check fa-fw"></i>{% else %}<i class="fa-solid fa-circle-xmark fa-fw"></i>{% endif %} {% trans "Sellable" %}</li>
      <li>{% if object.is_buyable %}<i class="fa-solid fa-circle-check fa-fw"></i>{% else %}<i class="fa-solid fa-circle-xmark fa-fw"></i>{% endif %} {% trans "Buyable" %}</li>
      <li>{% if object.is_composable %}<i class="fa-solid fa-circle-check fa-fw"></i>{% else %}<i class="fa-solid fa-circle-xmark fa-fw"></i>{% endif %} {% trans "Composable" %}</li>
    </ul>
  </div>
  {% if object.image %}
  <div class="col-2">
    <img src="{{ object.image.url }}" class="img-thumbnail" alt="...">
  </div>
  {% endif %}
</div>
<div class="row">
  <div class="col">
      {% include "workshop/includes/product_children.html" with children=object.parents.all parent=object is_root=True quantity=1 %}
  </div>
</div>


{% endblock %}


