{% extends "workshop/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% load thumbnail %}
{% load django_bootstrap5 %}
{% load workshop_tags %}

{% block title %}{{ object.name }}{% endblock %}
{% block page_heading %}{{ object.name }} {{ object.weight }} {{ object.uom.abbreviation }}{% endblock %}
{% block page_heading_action %}
<div class="btn-group btn-group-sm float-end" role="group" aria-label="Basic example">
  <a href="{% url 'workshop:product-update' pk=object.pk %}" class="btn btn-primary"><i class="fas fa-edit"></i> {% trans "Edit product" %}</a>
  <a href="{% url 'workshop:product-delete' pk=object.pk %}" class="btn btn-primary"><i class="fas fa-trash-can"></i> {% trans "Delete product" %}</a>
  <a href="{% url 'workshop:product-add' %}" class="btn btn-primary"><i class="fas fa-circle-plus"></i> {% trans "Add new product" %}</a>
</div>
{% endblock %}

{% block page_content %}
<div class="row mb-2">
  <div class="col-12 col-sm-8">
    <small>
    <ul class="list-unstyled list-inline mb-1">
      {% if object.sku %}<li class="list-inline-item"><strong>SKU:</strong> {{ object.sku }}</li>{% endif %}
      {% if object.display_name %}<li class="list-inline-item"><strong>{% trans "Shop" %}:</strong> {{ object.display_name|default:'-' }}</li>{% endif %}
      <li class="list-inline-item"><i class="fa-solid fa-tags fa-fw"></i> {{ object.category.name }}</li>
      <li class="list-inline-item">{% for tag in object.tags.all %}<span class="badge rounded-pill bg-secondary me-1"><i class="fas fa-tag"></i> {{ tag }}</span>{% endfor %}</li>
      <li class="list-inline-item">{% if object.is_sellable %}<i class="fa-solid fa-circle-check fa-fw"></i>{% else %}<i class="fa-solid fa-circle-xmark fa-fw"></i>{% endif %} {% trans "Sellable" %}</li>
      <li class="list-inline-item">{% if object.is_buyable %}<i class="fa-solid fa-circle-check fa-fw"></i>{% else %}<i class="fa-solid fa-circle-xmark fa-fw"></i>{% endif %} {% trans "Buyable" %}</li>
      <li class="list-inline-item">{% if object.is_composable %}<i class="fa-solid fa-circle-check fa-fw"></i>{% else %}<i class="fa-solid fa-circle-xmark fa-fw"></i>{% endif %} {% trans "Composable" %}</li>
    </ul>
    <ul class="list-unstyled list-inline mb-1">
      {% if object.sale_price %}<li class="list-inline-item"><strong>{% trans "Price" %}:</strong> {{ object.sale_price.price }}{% endif %}
      <li class="list-inline-item">{% if object.is_recurring %}<i class="fa-solid fa-circle-check fa-fw"></i>{% else %}<i class="fa-solid fa-circle-xmark fa-fw"></i>{% endif %} {% trans "recurring product" %}</li>
      {% if object.max_recurring_order_qty %}<li class="list-inline-item"><strong>{% trans "max recurring order qty" %}: </strong> {{ object.max_recurring_order_qty }}</li>{% endif %}
    </ul>
    <ul class="list-unstyled list-inline mb-1">
      {% for parent in object.childs.all %}
      <li class="list-inline-item"><i class="fa-solid fa-arrow-up-wide-short"></i> <a href="{% url 'workshop:product-detail' pk=parent.parent.pk %}">{{ parent.parent }} </a></li>
      {% endfor %}
    </ul>
    {% if object.description %}
    <p>{{ object.description|safe|linebreaksbr|urlize }}</p>
    {% endif %}
    </small>
  </div>
  {% if object.image %}
  <div class="col-2 mt-2">
      {% thumbnail object.image "150" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-thumbnail float-end mt-2" alt="product image">
      {% endthumbnail %}
  </div>
  {% endif %}
  {% if object.image_secondary %}
  <div class="col-2 mt-2">
      {% thumbnail object.image_secondary "150" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-thumbnail float-end mt-2" alt="product image">
      {% endthumbnail %}
  </div>
  {% endif %}
</div>
<div class="row mb-4 justify-content-between">
  {% if key_figures_form %}
  <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
    <div class="card p-3">
      <h5>Kennzahlen</h5>
      <form action="{% url 'workshop:product-normalize' pk=object.pk %}" method="POST">
        {% csrf_token %}
        <div class="row">
          <label class="col-6 col-form-label" for="id_fermentation_loss">{% trans "Fermentation Loss" %}</label>
          <div class="col-6">
            <div class="input-group input-group-sm">
              <input type="text" pattern="[0-9]+([\.,][0-9]+)?" name="fermentation_loss" value="{{ object.get_fermentation_loss|clever_rounding|unlocalize }}" min="0" max="100" step="0.1" class="form-control form-control-sm" placeholder="{% trans 'Fermentation Loss' %}" required="" id="id_fermentation_loss">
              <span class="input-group-text">%</span>
              <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-scale-balanced"></i></button>
            </div>
          </div>
        </div>
      </form>
      {% if key_figures_form.dough_yield and key_figures_form.dough_yield.value %}{% bootstrap_field key_figures_form.dough_yield size='sm' addon_before='TA' wrapper_class='' layout='horizontal' horizontal_label_class='col-6' horizontal_field_class='col-4' %}{% endif %}
      {% if key_figures_form.salt and key_figures_form.salt.value %}{% bootstrap_field key_figures_form.salt size='sm' addon_after='%' wrapper_class='' layout='horizontal' horizontal_label_class='col-6' horizontal_field_class='col-4' %}{% endif %}
      {% if key_figures_form.total_dough_weight and key_figures_form.total_dough_weight.value %}{% bootstrap_field key_figures_form.total_dough_weight size='sm' addon_after='g' wrapper_class='' layout='horizontal' horizontal_label_class='col-6' horizontal_field_class='col-4' %}{% endif %}
      {% if key_figures_form.wheat and key_figures_form.wheat.value %}{% bootstrap_field key_figures_form.wheat size='sm' wrapper_class='resize-none' layout='horizontal' horizontal_label_class='col-6' horizontal_field_class='col-6' %}{% endif %}
      {% if key_figures_form.pre_ferment and key_figures_form.pre_ferment.value %}{% bootstrap_field key_figures_form.pre_ferment size='sm' addon_after='%' wrapper_class='' layout='horizontal' horizontal_label_class='col-6' horizontal_field_class='col-4' %}{% endif %}
    </div>
  </div>
  {% endif %}
</div>
<div class="row mb-4">
  <div class="col">
    {% include "workshop/includes/product_children.html" with children=object.parents.with_weights parent=object is_root=True quantity=1 total_weight_flour=object.total_weight_flour show_baker_percentage=True%}
  </div>
</div>
<div class="card p-3 mt-4 mb-4">
  <div class="row">
    <div class="col-8">
      <h2>{% trans "Instructions" %}</h2>
    </div>
    <div class="col-4 text-end align-self-center">
      <a href="{% url 'workshop:product-instructions-update' pk=object.pk %}" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i> {% trans "Edit" %}</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      {% if object.instructions %}
      <p>{{ object.instructions.instruction|linebreaksbr }}</p>
      {% else %}
      <p>{% trans "No instructions yet!" %}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
