{% extends "workshop/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}Production plans{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col-8">
    <h1>Production plans</h1>
  </div>
  <div class="col align-self-center">
    <a href="{% url 'workshop:production-plan-add' %}" class="btn btn-primary btn-sm float-end">Add new production plan</a>
  </div>
</div>
<div class="row justify-content-end mt-4 mb-3">
  <div class="col-2">
    <select class="form-select form-select-sm" aria-label="Default select example">
      <option selected>{% trans "Filter by date" %}</option>
      {% for day in days %}
        <option value="{{ day }}">{{ day|date:'d.m.Y' }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="row">
  <div class="col">
    {% include "workshop/includes/production_plan_table.html" with production_plans=production_plans %}
  </div>
</div>
  
{% endblock %}