{% extends "workshop/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}Production plans{% endblock %}
{% block page_heading %}
<span class="d-print-none">Production plans <small class="text-muted">{{ day_filter.day_of_sale }}</small></span>
{% endblock %}
{% block page_heading_action %}
<a href="{% url 'workshop:production-plan-add' %}" class="btn btn-primary btn-sm float-end">Add new production plan</a>
{% endblock%}

{% block page_content %}
<div class="row mt-2 mb-4">
  <div class="col-8">
    <h6 class="d-none d-print-block">Production plans {{ day_filter.day_of_sale }}</h6>
  </div>
</div>
<div class="row justify-content-end mt-4 mb-3 d-print-none">
  <div class="col-2">
    <form method="GET">
      <div class="input-group">
        <select class="form-select form-select-sm" aria-label="Default select example" name="production_day">
          <option {% if not day_filter %}selected{% endif %} value="">{% trans "Filter by date" %}</option>
          {% for day in days %}
            <option value="{{  day.1 }}" {% if day.1 == day_filter.pk %} selected{% endif %}>{{ day.0|date:'d.m.Y' }}</option>
          {% endfor %}
        </select>
        <input type="submit" class="btn btn-outline-secondary btn-sm" type="button" value="Filter">
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    {% include "workshop/includes/production_plan_table.html" with production_plans=production_plans %}
  </div>
</div>
  
{% endblock %}