{% extends "workshop/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add new product{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col">
    <a href="{% url 'workshop:product-delete' pk=object.pk %}" class="btn btn-primary btn-sm float-end">Delete product</a>
    <a href="{% url 'workshop:product-add' pk=object.pk %}" class="btn btn-primary btn-sm float-end">Add product</a>
    <h1>{{ object.name }}</h1>
     {% include "workshop/includes/product_children.html" with children=object.parents.all  %}
  </div>
</div>
  
{% endblock %}