{% extends "workshop/base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Products" %}{% endblock %}
{% block page_heading %}{% trans "Products"%}{% endblock page_heading %}


{% block page_heading_action %}
<a href="{% url 'workshop:product-add' %}" class="btn btn-primary btn-sm float-end">{% trans "Add new product" %}</a>
{% endblock page_heading_action %}

{% block page_content %}
  {% if filter %}
  <form action="" method="get" class="form form-inline">
    <div class="row justify-content-end">
      <div class="col-3">
        {% bootstrap_field filter.form.search size='sm' wrapper_class='' layout='horizontal' show_label=False horizontal_field_class='col-12' %}
      </div>
      <div class="col-3">
        {% bootstrap_field filter.form.category size='sm' wrapper_class='' layout='horizontal' show_label=False horizontal_field_class='col-12' %}
      </div>
      <div class="col-3">
        {% bootstrap_button "Filter" button_type="submit" button_class="btn-outline-primary" size="sm" %}
        <button type="submit" name="reset-filters" class="btn btn-outline-primary btn-sm"><i class="fas fa-times"></i> {% trans "Reset filters" %}</button>
      </div>
    </div>

  </form>
  {% endif %}
  {% render_table table %}


{% endblock %}
