{% extends "workshop/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add new product{% endblock %}

{% block page_content %}
  {% if object %}
    <h1>Update: {{ object.name }}</h1>
  {% else %}
    <h1>Add new product
      {% if product_parent %}
      to {{ product_parent }}
      {% endif %}
    </h1>
  {% endif %}
  {% if is_flagged %}This is flagged!{% endif %}
  <h2>Add existing product</h2>
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    {{ form_select|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary" name="add-existing">
          Add
        </button>
      </div>
    </div>
  </form>
  <hr>
  <h2>Add new product</h2>
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary" name="add-new">
          {% if object %}Update{% else %}Add{% endif %}
        </button>
      </div>
    </div>
  </form>
  
{% endblock %}