{% extends 'shop/base_page.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}Login{% endblock %}

{% block page_content %}
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body tab-content">
          <div class="d-flex justify-content-center">
            {% include "includes/logo.html" with logo_size='large' client_logo=request.tenant.logo %}
          </div>
          <h2 class="text-center my-3">{% trans "Confirm E-mail Address" %}</h2>

            {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}

            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
                <button type="submit" class="btn btn-primary">{% trans 'Confirm' %}</button>
            </form>

            {% else %}

            {% url 'account_email' as email_url %}

            <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

            {% endif %}
            <a href="/shop/">zurück zum Shop</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

