{% extends base_template %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block page_content %}
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body min-height-500">
          <div class="d-flex justify-content-center">
            {% include "includes/logo.html" with logo_size='large' client_logo=request.tenant.logo %}
          </div>
          <h2 class="my-3 fw-bold">Anmelden</h2>
            <p>Hast du noch kein Konto? Dann bitte zuerst <a href="{{ signup_url }}">ein Konto erstellen</a>.</p>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary">Login</button> <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
      </div>
      </div>
  </div>
</div>

{% endblock %}