{% extends 'shop/base_page.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block page_content %}
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body tab-content">
          <div class="d-flex justify-content-center">
            {% if settings.pages.BrandSettings.logo %}
            {% include "includes/logo.html" with logo_size='large' client_logo=settings.pages.BrandSettings.logo %}
            {% endif %}
          </div>
          <h2 class="text-center my-3">{% trans "Password Reset" %}</h2>
          {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
          {% endif %}

          <p>Wir haben dir eine E-Mail zum zurücksetzen des Passworts gesendet. Wenn du keine E-Mail erhalten hast überprüfe bitte deinen Spam Ordner oder kontaktier uns gerne!.</p>
          <a href="/shop/">zurück zum Shop</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
