{% extends 'shop/base_page.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block page_content %}
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body tab-content">
          <div class="d-flex justify-content-center">
            {% include "includes/logo.html" with logo_size='large' home_url='shop:shop' client_logo=request.tenant.logo %}
          </div>
          <h2 class="text-center my-3">{% trans 'Your password is now changed.' %}</h2>
          <p>Du kannst dich jetzt mit deinem neuen Passwort <a href="{% url 'login' %}">anmelden</a>.</p>
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

