{% extends 'shop/base_page.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block page_content %}
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body tab-content">
          <div class="d-flex justify-content-center">
            {% if settings.pages.BrandSettings.logo %}
            {% include "includes/logo.html" with logo_size='large' client_logo=settings.pages.BrandSettings.logo %}
            {% endif %}
          </div>
          <h2 class="text-center my-3">{% trans "Set Password" %}</h2>

          <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
