{% extends 'shop/base_page.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block page_content %}
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body tab-content min-height-500">
          <div class="d-flex justify-content-center">
            {% if settings.pages.BrandSettings.logo %}
            {% include "includes/logo.html" with logo_size='large' client_logo=settings.pages.BrandSettings.logo %}
            {% endif %}
          </div>
          <h2 class="my-3 fw-bold">{% trans "Sign Up" %}</h2>
          <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% crispy form %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
          </form>
        </div>
      </div>
      </div>
  </div>
</div>

{% endblock %}