/* roboto-slab-regular - latin */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Roboto Slab';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/roboto/roboto-slab-v34-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
   }
   /* roboto-slab-500 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Roboto Slab';
     font-style: normal;
     font-weight: 500;
     src: url('../fonts/roboto/roboto-slab-v34-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
   }
   /* roboto-slab-600 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Roboto Slab';
     font-style: normal;
     font-weight: 600;
     src: url('../fonts/roboto/roboto-slab-v34-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
   }
   /* roboto-slab-700 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Roboto Slab';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/roboto/roboto-slab-v34-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
   }
   /* roboto-slab-800 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Roboto Slab';
     font-style: normal;
     font-weight: 800;
     src: url('../fonts/roboto/roboto-slab-v34-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
   }
   /* roboto-slab-900 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Roboto Slab';
     font-style: normal;
     font-weight: 900;
     src: url('../fonts/roboto/roboto-slab-v34-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
   }

/* quattrocento-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/quattrocento/quattrocento-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/quattrocento/quattrocento-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/quattrocento/quattrocento-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/quattrocento/quattrocento-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/quattrocento/quattrocento-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/quattrocento/quattrocento-v17-latin-regular.svg#Quattrocento') format('svg'); /* Legacy iOS */
  }
  /* quattrocento-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/quattrocento/quattrocento-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/quattrocento/quattrocento-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/quattrocento/quattrocento-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/quattrocento/quattrocento-v17-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/quattrocento/quattrocento-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/quattrocento/quattrocento-v17-latin-700.svg#Quattrocento') format('svg'); /* Legacy iOS */
  }

  /* kaushan-script-regular - latin */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Kaushan Script';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/kaushan/kaushan-script-v14-latin-regular.eot'); /* IE9 Compat Modes */
     src: url('../fonts/kaushan/kaushan-script-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/kaushan/kaushan-script-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/kaushan/kaushan-script-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/kaushan/kaushan-script-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/kaushan/kaushan-script-v14-latin-regular.svg#KaushanScript') format('svg'); /* Legacy iOS */
   }
