

$white: #fffefe;

$theme-colors: (
    "light":      #fbf0ce,
    "dark":       #0d0d07,
    "primary":    #653335,
    "secondary":  #d24142,
    "info":       #f49f3d,
    "success":    #60a41c,
    "warning":    #febf6d,
    "danger":     #f00f67,
);

// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;