$white: #fbfdfe;

$light:      #e2e3e6;
$dark:       #07060a;
$primary:    #4c3975;
$secondary:  #ba244d;
$info:       #519931;
$success:    #1e9a5f;
$warning:    #dcca20;
$danger:     #e8290f;



// $theme-colors: (
//     "light":      #e2e3e6,
//     "dark":       #07060a,
//     "primary":    #4c3975,
//     "secondary":  #ba244d,
//     "info":       #519931,
//     "success":    #1e9a5f,
//     "warning":    #dcca20,
//     "danger":     #e8290f,
// );