// $white: #fbfdfe;

// $light:      #e2e3e6;
// $dark:       #333;
// $primary:    #4c3975;
// $secondary:  #ba244d;
// $info:       #519931;
// $success:    #1e9a5f;
// $warning:    #dcca20;
// $danger:     #e8290f;



// $white: #fefffc;
// $light: #FAF6F2;
// $dark:       #333;
// $primary:    #4c3699;
// $secondary:  #9e6fec;



$primary: #CD6646;
$secondary:#608989;
$light: #F3ECD2;
$dark: #3F2D27;

$info:       #dd7230;
$success:    #1da665;
$warning:    #e1cc1d;
$danger:     #ee270e;



// $white: #ffffff;

// $light:      #d5e3e9;
// $dark:       #043b69;
// $primary:    #9a431a;
// $secondary:  #bd9464;
// $info:       #387b56;
// $success:    #5ba51a;
// $warning:    #fec066;
// $danger:     #f10d64;


//$light:      #FAF8F8;
// $dark:       #395150;
// $primary:    #0c0d0d;
// $secondary:  #f6bb51;
// $info:       #ff9f20;
// $success:    #60a800;
// $warning:    #ffc070;
// $danger:     #f30067;


// $brand: #f6bb51;


// $theme-colors: (
//     "light":      #e2e3e6,
//     "dark":       #07060a,
//     "primary":    #4c3975,
//     "secondary":  #ba244d,
//     "info":       #519931,
//     "success":    #1e9a5f,
//     "warning":    #dcca20,
//     "danger":     #e8290f,
// );