@import 'variables';

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'fonts';
@import 'reset';


@import 'shop';
@import 'colors';
@import 'select2';
@import 'print';

.btn-xs {
  padding: .25rem .5rem;
  font-size: .75rem;
}

html {
  scroll-padding-top: 80px; /* height of sticky header */
}

html,
body {
  height: 100%;
}

body {
  background-color: $light;
  @media (max-width: 991px) {
    &.shop {
      margin-top: 46px;
    }
  }
  background-color: $light;
}

.z-1000 {
  z-index: 1000;
}

.font-handwriting {
  font-family: 'Kaushan Script';
}
.font-quattrocento {
  font-family: 'Quattrocento';
}
.font-sans-serif {
  font-family: sans-serif;
}

// h1[id]::before,
// h2[id]::before,
// h3[id]::before,
// h4[id]::before,
// .anchor::before
//  {
//   content: '';
//   display: block;
//   height:      80px;
//   margin-top: -80px;
//   visibility: hidden;
// }

.progress {
  background-color: $gray-400;
}
.cart-badge {
  position: absolute;
  top: -15px;
  right: -15px;
  z-index: 100;
  width: 37px;
  height: 37px;
  color: $white;
  .fas {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .qty {
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: $white;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    font-size: 1rem;
    color: $primary;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}
input.form-control.product-quantity {
  font-weight: bold;
  line-height: 1;
  font-size: 1.5rem;
  text-align: center;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}

.dummy-bread {
  min-height: 450px;
}

.figure {
  min-height: 50px;
  .z-3 {
    z-index: 3;
  }
  .img-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
  &:hover {
    .img-hover{
      opacity: 1;
    }
  }
  &.has-video {
    &:hover {
      cursor: pointer;
    }
    .fa-circle-play {
      z-index: 3;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      pointer-events: none;
    }
    img {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    overflow: hidden;
    video {
      z-index: 1;
    }
      .btn-mute {
        z-index: 1;
        position: absolute;
        bottom: 2px;
        right: 2px;
        color: $white;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        border: 0;
        &.active {
          color: $white;
        }
        .fa-volume-high {
          display: block;
        }
        .fa-volume-xmark {
          display: none;
        }
      }
      // .btn-play {
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   color: $black;
      // }
  }
}

.text-shadow {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.bottom-20 {
  bottom: 20px;
}

.start-20 {
  left: 20px;
}

.popover-body {
  padding: 0.4rem;
}
.alert {
  ul, p {
    margin-bottom: 0;
  }
}
.btn-xs {
  border-radius: 0.2rem;
  font-size: .675rem;
  padding: 0.1rem 0.2rem;
}
.btn-white {
  background-color: $white;
  &:hover {
    background-color: shade-color($white, $btn-hover-bg-shade-amount);
    color: $black;
  }
}
a.rounded-circle {
  width: 40px;
  height: 40px;
  display: flex!important;
  align-items: center;
  justify-content: center;
}
.sticky {
  z-index: 1020;
}
.sticky-offset {
  top: 67px;
}
.top-67 {
  top: 67px;
}
.sticky.sticked {
  .production-day-description {
    display: none;
  }
  // background-color: $light;
  // width: 100vw;
  // left: 0;
  // border-bottom: 2px solid $dark;

}
.card {
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.min-height-500 {
  min-height: 500px;
}
.hyphens-auto {
  hyphens: auto;
}
.position-absolute-not-mobile {
  position: absolute;
  @media (max-width: 768px) {
    position: static;
  }
}
.form-input-lg {
  font-size: 1.5rem;
}
.form-select-lg {
  font-size: 1.5rem;
}
.form-select-xs {
  border-radius: 0.2rem;
  font-size: 14px;
  font-size: .875rem;
  padding-bottom: 0.1rem;
  padding-left: 0.1rem;
  padding-top: 0.1rem;
  padding-right: 0.1rem;
  font-weight: bold;
  background-position: right center;
}
.logo {
  // box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  // background-color: $light;
  text-decoration: none;
  &.large {
    font-weight: bold;
    font-size: 4rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  &.small {
    font-weight: bold;
    font-size: 2rem;
    padding: .5rem;
    margin-top: .8rem;
    margin-bottom: .8rem;
  }
  &.white {
    color: $white!important;
  }

}

.quantity {
  display: inline-block;
  min-width: 32px;
  min-width: 3rem;
  text-align: right;
}

#basket {
  .current-order {
    h4 a {
      &:hover {
        cursor: pointer;
      }
    }
  }

  @media (max-width: 991px) {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1010;
    width: 100%;
    text-align: center;
    border-radius: 0;
    margin-bottom: 0!important;
    a.btn {
      // width: 80%;
    }
  }

}
.shopping-basket.mobile {
  display: none;
  @media (max-width: 991px) {
    display: block;
    position: fixed!important;
    top: 0;
    right: 0;
  }
}

.border-top-2 {
  border-top-width: 3px!important;
}

.weight {
  display: inline-block;
  min-width: 100px;
  text-align: right;
  padding-right: 0.5rem;
}

button[aria-expanded=true] .fa-chevron-right {
  display: none;
}
button[aria-expanded=false] .fa-chevron-down {
  display: none;
}

.navbar-toggler {
  border: 0;
  .fa-bars {
    display: inline-block;
  }
  .fa-times {
    display: none;
  }
}
header {
  .navbar {
    min-height: 65px;
  }
  &.open {
    .navbar-toggler {
      .fa-times {
        display: inline-block;
      }
      .fa-bars {
        display: none;
      }
    }
    @media (max-width: 991px) {
        min-height: 100vh;
        width: 100vw;
        position: fixed;
        background-color: var(--bs-dark);
        z-index: 9999;
        overflow: hidden;
        .nav-item {
          text-align: center;
          &.active {
            .nav-link {
              // border: none;
            }
          }
          .nav-link {
            font-size: 1.5rem;
          }
        }
        .main-menu {
          top: 40%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          position: fixed;
        }
        .main-menu-sub {
          position: fixed;
          top: calc(100% - 1.5rem);
          left: 50%;
          transform: translateY(-100%) translateX(-50%);
          flex-direction: row;
          .nav-link {
            font-size: 1rem;
          }
        }

    }
  }
  .navbar {
    --bs-navbar-nav-link-padding-x: 0;
    --bs-navbar-toggler-padding-y: 0;
    @media (max-width: 991px) {
      background-color: var(--bs-dark);
    }
    .navbar-toggler:focus {
      box-shadow: none;
    }
    .collapsing {
      transition: none !important;
    }
  }
}
footer {
  font-size: 18px;

  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}
.position-fixed-mobile {
  @media (max-width: 991px) {
    position: fixed;
  }
}

nav {
  .nav-item {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    .nav-link {
      display: inline-block;
    }
    &.active {
      .nav-link {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 8px;
          border-bottom: 2px solid $white;
          width: 100%;
        }
        // &:hover {
        //   border-color: $primary;
        // }
      }
    }
  }
  .nav-link {
    color: $white;
    &:hover,
    &:focus {
      color: $white;
    }
  }
}

.spacer-1 {
  margin-bottom: 1rem;
}
.spacer-2 {
  margin-bottom: 2rem;
}
.spacer-3 {
  margin-bottom: 3rem;
}
.spacer-4 {
  margin-bottom: 4rem;
}

@media (max-width: 576px) {
  .spacer-mobile-1 {
    margin-bottom: 1rem;
  }
  .spacer-mobile-2 {
    margin-bottom: 2rem;
  }
  .spacer-mobile-3 {
    margin-bottom: 3rem;
  }
  .spacer-mobile-4 {
    margin-bottom: 4rem;
  }
}

.horizontal-ruler {
  min-height: 200px;
  hr {
    margin-top: 97px;
  }
}
.page-heading {

}
.mb-10 {
  margin-bottom: 5rem;
}
.mt-10 {
  margin-top: 5rem;
}
.mt-100 {
  // margin-top: 100%;
}
.primary-gradient {
  background-image: linear-gradient(to right top, #051937, #0a2250, #1b2a69, #313182, #4c3699);
}

.modal {
  .alert {
    padding: 0.5rem;
  }
}

.jumbotron {
  position: relative;
  height: 100vh;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    // background-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 3%, rgba(0,0,0,0));
  }
}

.mr--1 {
  margin-right: -1rem;
}
.ml--1 {
  margin-left: -1rem;
}

.pos-select {
  width: 100%;
  @media (max-width: 768px) {
    max-width: 246px;
  }
}

.min-w-75 {
  min-width: 75px;
}

@media print {
  tbody {
    display: block;
    // page-break-after: always;
    page-break-inside: avoid;
    page-break-before: avoid;
  }
  table,
  tr  {
    width: 100%;
  }
  .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}

.tr-collapsed > td {
  padding: 0;
  padding-left: 1rem;
  border-bottom-width: 2px;
}
.tr-no-border-bottom > td{
  border-bottom-width: 0;
  background-color: var(--bs-table-bg);
}
.table-white>:not(caption)>*>*  {
  background-color: $white;
}
.table-hover>tbody>tr:hover>* {
  background-color: $gray-200;
  --bs-table-accent-bg: $gray-200;
}
.tab-pane {
  padding: .75rem;
  background-color: $white;
}
.list-group.list-group-root {
  // padding: 0;
  // overflow: hidden;
  .list-group {
    margin-bottom: 0;
    border: 0;
  }
  .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
  }
  > .list-group-item:first-child {
    border-top-width: 0;
  }
  > .list-group > .list-group-item {
    padding-left: 30px;
  }
  > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
  }
}


.input-group-sm .form-control {
  border-radius: 0.2rem;
  font-size: .875rem;
  padding: 0.25rem 0.5rem;
}
.input-group-sm .input-group-text {
  border-radius: 0.2rem;
  font-size: .875rem;
  padding: 0.25rem 0.5rem;
}
.input-group-calendar {
  width: 250px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

textarea {
  margin-bottom: .5rem;
}

.resize-none textarea{
  resize: none;
}

.badge.top-right {
  position: absolute;
  right: -15px;
  top: -10px;
  z-index: 10;
}
.badge.top {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
}
.badge.top-middle {
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: 10;
  transform: translateX(-50%);
}
.right-5 {
  right: 5px;
}
.opacity-60 {
  opacity: 0.6;
}

.sidebar-toggler {
  display: none;
  position: absolute;
  top: 15px;
  vertical-align: top;
  margin-left: -50px;
  margin-right: 10px;
  // margin-top: 17px;
  width: 70px;
  height: 70px;
  background-color: $primary;
  color: $white;
  border: none;
  border-radius: 50%;
  .badge {
    position: absolute;
    top: 0;
    right: 0;
  }
  .fas {
    padding-left: 20px;
    font-size: 1.5rem;
  }
  &:focus {
    outline: none;
    color: $white;
  }
}

.sidebar-toggler-hide {
  display: none;
  position: absolute;
  right: 0;
  top: 15px;
  width: 35px;
  height: 35px;
  background-color: $primary;
  border-radius: 50%;
  margin-right: -17.5px;
  color: $white;
  &:hover {
    cursor: pointer;
  }
  .fas {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.accordion-button:focus {
  box-shadow: none;
}

.input-group-text {
  &:hover {
    cursor: pointer;
  }
}


@media (max-width: 768px) {
  .fs-xs-6 {
    font-size: .9rem;
  }
  .sidebar-toggler-hide {
    display: none;
  }
  .sidebar-toggler {
    display: block;
  }
  .sidebar {
      display: none;
      position:fixed;
      z-index: 10;
  }
}
