{% extends "shop/base.html" %}
{% block page_content %}
<div class="row mb-4">
    <div class="col">
        <h1>Impressum</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-9">
        <div class="rich-text">
            <p data-block-key="1gl2p">
                Matthias Brück<br>
                Softwareentwickler<br>
                Am Pumpwerk 4<br>
                12524 Berlin</p>
                <p data-block-key="ko32">
                    <b>Phone</b>: <a href="tel:0176-99093233">0176-99093233</a><br>
                    <b>E-Mail</b>: <a href="mailto:hi@brueck.io">hi@brueck.io</a>
                </p>
        </div>
    </div>
</div>
{% endblock page_content %}