{% load i18n %}
<ol class="list-group{% if is_root %} list-group-root card{% endif %}">
{% for category in categories %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <a href="{% url 'workshop:category-update' pk=category.pk %}" class="fs-4">{{ category.name }}</a>
            <a href="{% url 'workshop:product-list' %}?category={{ category.pk }}" class="ms-2"><span class="badge bg-primary rounded-pill">
            {% blocktranslate count counter=category.get_product_count trimmed %}
                {{ counter }} Product
            {% plural %}
                {{ counter }} Products
            {% endblocktranslate %}</span></a>
            <div class="fw-bold"></div>
            {{ category.description|default:'' }}
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="Column action links">
            <a href="{% url 'workshop:category-update' pk=category.pk %}" class="btn btn-outline-primary btn-sm"><i class="fas fa-edit"></i></a>
            <a href="{% url 'workshop:category-delete' pk=category.pk %}" class="btn btn-outline-primary btn-sm"><i class="fas fa-trash-can"></i></a>
        </div>
        
    </li>
    {% if category.get_children_count > 0 %}
    {% include "workshop/includes/category.html" with categories=category.get_children is_root=False %}
    {% endif %}
{% endfor %}
</ol>