<div class="page-heading p-4 bg-primary text-white">
    <h1>Welcome to bakeup</h1>
    <p>{{ request.user.get_full_name }}</p>
</div>
<div class="row mt-4 mb-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Products</h4>
              <p class="card-text"></p>
              <a href="#" class="btn btn-sm btn-outline-primary">Go to products</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Categories</h4>
              <p class="card-text"></p>
              <a href="#" class="btn btn-sm btn-outline-primary">Go to categories</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Cusomters</h4>
              <p class="card-text"></p>
              <a href="#" class="btn btn-sm btn-outline-primary">Go to cusomters</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Orders</h4>
              <p class="card-text"></p>
              <a href="#" class="btn btn-sm btn-outline-primary">Go to orders</a>
            </div>
        </div>
    </div>
</div>