{% load i18n %}

<div class="row mt-4 mb-4">
    <div class="col-12 col-sm-6 offset-sm-1 mb-sm-0 mb-4">
        <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title border-bottom border-dark">{% trans "Next production days" %}</h4>
              {% include "workshop/includes/dashboard_production_days.html" with show_production=True production_days=upcoming_production_days %}
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4 mb-sm-0 mb-4">
        <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title border-bottom border-dark">{% trans "Past production days" %}</h4>
              {% include "workshop/includes/dashboard_production_days.html" with production_days=past_production_days %}
            </div>
        </div>
    </div>
</div>
<div class="row mt-4 mb-4">
    <div class="col-12 col-sm-3 offset-sm-1 mb-sm-0 mb-4">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">{% trans "Customers" %} <small class="text-muted">{{ customers_count }}</small></h4>
              <p class="card-text"></p>
              <a href="{% url 'workshop:customer-list' %}" class="btn btn-sm btn-outline-primary">{% trans "Go to customers" %}</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3 mb-sm-0 mb-4">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">{% trans "Orders" %} <small class="text-muted">{{ orders_count }}</small></h4>
              <p class="card-text"></p>
              <a href="{% url 'workshop:order-list' %}" class="btn btn-sm btn-outline-primary">{% trans "Go to orders" %}</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3 mb-sm-0 mb-4">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">{% trans "Recurring orders" %} <small class="text-muted">{{ recurring_orders_count }}</small></h4>
              <p class="card-text"></p>
              <a href="{% url 'workshop:order-list' %}" class="btn btn-sm btn-outline-primary">{% trans "Go to recurring orders" %}</a>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4 mb-4">
    <div class="col-12 col-sm-3 offset-sm-1 mb-sm-0 mb-4">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">{% trans "Categories" %} <small class="text-muted">{{ categories_count }}</small></h4>
              <p class="card-text"></p>
              <a href="{% url 'workshop:category-list' %}" class="btn btn-sm btn-outline-primary">{% trans "Go to categories" %}</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3 mb-sm-0 mb-4">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">{% trans "Recipes" %} <small class="text-muted">{{ recipies_count }}</small></h4>
              <p class="card-text"></p>
              <a href="{% url 'workshop:recipe-list' %}" class="btn btn-sm btn-outline-primary">{% trans "Go to recipies" %}</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">{% trans "Products" %} <small class="text-muted">{{ products_count }}</small></h4>
              <p class="card-text"></p>
              <a href="{% url 'workshop:product-list' %}" class="btn btn-sm btn-outline-primary">{% trans "Go to products" %}</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-3  offset-sm-1">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">{% trans "Production days" %} <small class="text-muted">{{ productiondays_count }}</small></h4>
              <p class="card-text"></p>
              <a href="{% url 'workshop:production-day-next' %}" class="btn btn-sm btn-outline-primary">{% trans "Go to production days" %}</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">{% trans "Production plans" %} <small class="text-muted">{{ productionplans_count }}</small></h4>
              <p class="card-text"></p>
              <a href="{% url 'workshop:production-plan-next' %}" class="btn btn-sm btn-outline-primary">{% trans "Go to production plans" %}</a>
            </div>
        </div>
    </div>
</div>
