<script>
    var formsetContainer = document.querySelector('.formset-container');
    var formset = document.querySelectorAll(".formset");
    var addButton = document.querySelector("#add-form");
    var totalForms = document.querySelector("#id_form-TOTAL_FORMS");
    var formsetBeforeElement = document.querySelector("#formset-before-element");

    var formNum = formset.length-1;
    addButton.addEventListener('click', addForm);

    function addForm(e){
        e.preventDefault();

        var newForm = formset[0].cloneNode(true);
        var formRegex = RegExp(`form-(\\d){1}-`,'g');

        formNum++;
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`);
        console.log(formset, addButton, totalForms, newForm);
        console.log(`id_form-${formNum}-product`);
        formsetContainer.insertBefore(newForm, formsetBeforeElement);
        var product = document.getElementById(`id_form-${formNum}-product`);
        if (product) {
            product.selectedIndex = null;
        }
        var group = document.getElementById(`id_form-${formNum}-group`);
        if (group) {
            group.selectedIndex = null;
        }
        totalForms.setAttribute('value', `${formNum+1}`);
        var quantity = document.getElementById(`id_form-${formNum}-quantity`);
        if (quantity) {
            quantity.value = null;
        }
        var maxQuantity = document.getElementById(`id_form-${formNum}-max_quantity`);
        if (maxQuantity) {
            maxQuantity.value = null;
        }
        var published = document.getElementById(`id_form-${formNum}-is_published`);
        if (published) {
            published.checked = false;
        }
    }
  </script>
