{% load l10n %}
<ol class="list-group{% if is_root %} list-group-root card{% endif %}">
  {% for child in children %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-2">
            {% if is_root %}
              <form action="{% url 'workshop:product-hierarchy-update' pk=child.pk %}" method="POST">
                {% csrf_token %}
                <div class="input-group input-group-sm">
                  <input type="number" class="form-control" name="amount" placeholder="" value="{{ child.weight|unlocalize }}" step="0.1">
                  <button class="btn btn-outline-secondary" type="submit">Save</button>
                  {{ child.weight_unit }}
                </div>
              </form>
            {% else %}
            <div class="text-end">{{ child.weight }} {{ child.weight_unit }}</div>
              
            {% endif %}
          </div>
          <div class="col-7 align-self-center">
            <a href="{% url 'workshop:product-detail' pk=child.child.pk %}">{{ child.child.name }}</a>
          </div>
          <div class="col-3 text-end">
            {% if is_root %}
            <div class="btn-group btn-group-sm">
              <a href="{% url 'workshop:product-update' pk=child.child.pk %}" class="btn btn-outline-primary">Edit product</a>
              <a href="{% url 'workshop:product-hierarchy-delete' pk=child.pk %}" class="btn btn-outline-primary">Delete relation</a>
            </div>
            {% endif %}
          </div>
        </div>      
      </li>
      {% if child.child.parents.all %}
        {% include "workshop/includes/product_children.html" with children=child.child.parents.all parent=child.child is_root=False %}
      {% endif %}
  {% endfor %}
  </ol>
