{% load i18n %}
{% load utils %}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>{% trans "Day" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Product" %}</th>
            {% for key, value in table_categories.items %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for production_plan in production_plans %}
            <tr>
                <td width="10%">{{ production_plan.root.production_day.day_of_sale|date:'d.m.Y' }}</td>
                <td width="10%">{{ production_plan.root.quantity }}</td>
                <td width="10%">{{ production_plan.root.product }}</td>
                {% for key, value in table_categories.items %}
                <td width="{% widthratio 80 table_categories|length 1 %}%">{% for child_plan in production_plan|get_item:key %}
                        {% include "workshop/includes/production_plan_ingredients.html" with plan=child_plan %}
                    {% endfor %}

                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

