{% load i18n %}
<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark d-print-none">
  <nav class="d-flex flex-column align-items-center align-items-sm-start min-vh-100">
      {% include "includes/logo.html" %}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'workshop:workshop' %}"><i class="fa-solid fa-house fa-fw"></i> Dashboard</a>
            </li>
            {% if request.user.is_authenticated and request.user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'workshop:category-list' %}"><i class="fa-solid fa-tags fa-fw"></i> Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'workshop:product-list' %}"><i class="fa-solid fa-cart-shopping fa-fw"></i> Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'workshop:ingredient-list' %}"><i class="fa-solid fa-atom fa-fw"></i> Ingredients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'workshop:production-day-list' %}"><i class="fa-solid fa-calendar-day fa-fw"></i> Production Days</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'workshop:production-plan-list' %}"><i class="fa-solid fa-sliders fa-fw"></i> Production Plans</a>
            </li>
            {% endif %}
          </ul>
          <ul class="nav nav-pills flex-column mb-0 align-items-center align-items-sm-start">
            {% if request.user.is_authenticated and request.user.is_customer %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'shop:shop' %}"><i class="fa-solid fa-shop"></i> Shop</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}"><i class="fa-solid fa-circle-question fa-fw"></i> Help</a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:profile' %}"><i class="fa-solid fa-user fa-fw"></i> {% translate "Profile" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket fa-fw"></i> Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a id="log-in-link" class="nav-link" href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket fa-fw"></i> Login</a>
              </li>
            {% endif %}
          </ul>
    </nav>
</div>