{% load shop_tags i18n %}
<div id="basket" class="card bg-primary text-white mb-4{% if current_customer_order %} has-order{% endif %}">
    <div class="card-body">
        <div class="empty{% if current_customer_order %} d-none{% endif %}">
            <h4 class="card-title hyphens-auto mb-0">{% trans 'The basket is empty' %}</h4>
        </div>
        <div class="summary d-none">
            <h4 class="card-title hyphens-auto plural"><span class="qty fw-bold"></span> Brote im Brotkorb</h4>
            <h4 class="card-title hyphens-auto single"><strong>1</strong> Brot im Brotkorb</h4>
            <a class="btn btn-white fw-bold" data-bs-toggle="modal" data-bs-target=".modal-checkout">
                {% if current_customer_order %}
                Bestellung ändern
                {% else %}
                Bestellung prüfen
                {% endif %}
            </a>
        </div>
        <div class="current-order{% if not current_customer_order %} d-none{% endif %}">
            <h4 class="">
                {% blocktrans trimmed count total_quantity=current_customer_order.total_quantity|default:0 %}
                You <a class="text-white" data-bs-toggle="modal" data-bs-target=".modal-checkout">ordered <strong>{{ total_quantity }}</strong> product</a>.
                {% plural %}
                You <a class="text-white" data-bs-toggle="modal" data-bs-target=".modal-checkout">ordered <strong>{{ total_quantity }}</strong> products</a>.
                {% endblocktrans %}</h4>
                <a class="btn btn-white fw-bold" href="{% url 'shop:order-list' %}">Alle Bestellungen anzeigen</a>
        </div>
    </div>
</div>
