{% load menu_tags %}
<footer class="footer mt-auto py-4 bg-dark text-white mt-5">
    <div class="container">
      {{ settings.pages.FooterSettings.footer }}
      <div class="row align-items-end mt-4">
        <div class="col-10 offset-1 col-md-12 offset-md-0">
            <p class="text-end mb-0">
              {% if settings.pages.GeneralSettings.legal_entity %}&copy; {{ settings.pages.GeneralSettings.legal_entity }} | {% endif %}
              Gebacken mit <a href="https://bakeup.org" class="fw-bold">bakeup.org</a> | <a href="https://github.com/bruecksen/bakeup/releases/latest" target="_blank">{% current_git_tag %}</a> | {% flat_menu 'footer' template="shop/includes/flat_menu.html" %}
            </p>
        </div>
      </div>
    </div>
</footer>