{% load i18n %}
{% load menu_tags %}
<header class="fixed-top">
  <nav class="navbar navbar-expand-lg {% if background %} nav-bg-dark{% endif %}" id="navbar">
      <div class="container">
        {% if settings.pages.BrandSettings.logo %}
        {% include "includes/logo.html" with logo_size='small' client_logo=settings.pages.BrandSettings.logo %}
        <a href="/shop/" class="navbar-brand me-0 text-white {{ settings.pages.GeneralSettings.brand_font }}{% if settings.pages.GeneralSettings.brand_uppercase %} text-uppercase{% endif %}  fs-3 d-lg-none">{{ request.tenant.name }}</a>
        {% else %}
        <a href="/shop/" class="navbar-brand me-lg-4 text-white {{ settings.pages.GeneralSettings.brand_font }}{% if settings.pages.GeneralSettings.brand_uppercase %} text-uppercase{% endif %} fs-3 me-auto">{{ request.tenant.name }}</a>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% main_menu max_levels=2 template="shop/includes/main_menu.html" %}
          <ul class="navbar-nav mb-2 mb-lg-0 main-menu-sub">
            <li class="nav-item shopping-basket d-none invisible">
              <a class="nav-link btn btn-primary p-0 rounded-circle shadow position-relative">
                <i class="fas fa-shopping-cart fa-fw"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge text-bg-light rounded-circle color-primary order-quantity d-none">
                  <span class="visually-hidden">bestellte brote</span>
                </a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item dropdown account-menu d-none d-lg-block">
                <a class="nav-link btn btn-primary px-3 py-1 mt-1 dropdown-toggle" href="#" id="ddtoggle_account" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-user account-icon"></i><span class="account-name" title="{{ request.user.get_full_name }}">{{ request.user.get_full_name|default:"Mein Konto" }}</span></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="ddtoggle_account">
                  <li><a class="dropdown-item" href="{% url 'shop:order-list' %}">Bestellungen</a></li>
                  <li><a class="dropdown-item" href="{% url 'shop:user-profile' %}">Profil</a></li>
                  <li><hr class="dropdown-divider"></li>
                  {% if request.user.is_staff %}
                  <li><h6 class="dropdown-header">Intern</h6></li>
                  <li><a class="dropdown-item" href="{% url 'workshop:workshop' %}">{% translate "Workshop" %}</a></li>
                  <li><hr class="dropdown-divider"></li>
                  {% endif %}
                  <li>
                    <form method="post" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button type="submit" class="dropdown-item dropdown-item-muted">Abmelden</button>
                    </form>
                  </li>
                </ul>
              </li>
              <li class="nav-item d-lg-none">
                <a class="nav-link" href="{% url 'shop:order-list' %}">Bestellungen</a>
              </li>
              <li class="nav-item d-lg-none">
                <a class="nav-link" href="{% url 'shop:user-profile' %}">Profil</a>
              </li>
              <li class="nav-item d-lg-none">
                <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="nav-link border-0 bg-transparent">Abmelden</button>
                </form>
              </li>
              {% elif request.tenant.clientsetting.show_login %}
              <li class="nav-item">
                <a id="log-in-link" class="nav-link btn btn-primary px-3 py-1 mt-1" href="{% url 'shop:login' %}">Anmelden</a>
              </li>
              {% endif %}
            </ul>
          </div>
          {% if settings.pages.GeneralSettings.social_media_accounts %}
          <ul class="navbar-nav mb-2 mb-lg-0 main-menu-social ms-auto">
            {% for social_media_account in settings.pages.GeneralSettings.social_media_accounts.all %}
            <li class="nav-item"><a href="{{ social_media_account.url }}" target="_blank" class="nav-link btn btn-primary p-0 pt-1 mt-1"><i class="fa-brands fa-fw fa-xl fa-{{ social_media_account.platform }}"></i></a></li>
            {% endfor %}
          </ul>
          {% endif %}
          <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars fs-2 fa-fw"></i>
            <i class="fa-solid fa-times fs-2 fa-fw"></i>
          </button>
      </div>
    </nav>
  </header>
