{% load django_bootstrap5 %}
{% load i18n %}
{% load thumbnail %}
{% load shop_tags %}
{% load humanize %}

<h2 class="text-center{% if not production_day.description %} mb-4{% endif %}">Unser nächster Backtag: <span class="badge bg-primary">{{ production_day.day_of_sale|naturalday:'d.m.Y' }}</span></h2>
{% if production_day.description %}
<div class="row justify-content-center">
    <div class="col-8">
        <p class="text-center mb-4 lead">{{ production_day.description|safe|linebreaksbr|urlize }}</p>
    </div>
</div>
{% endif %}

{% if production_day_products %}
<div class="position-relative mt-3 mb-3">
    {% if current_customer_order.positions.all %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 position-absolute-not-mobile pe-0 pe-md-3">
        <div class="card primary-gradient text-white" id="current-order">
            <div class="card-body">
                <h4 class="card-title hyphens-auto mb-4">Deine aktuelle Bestellung:</h4>
                <div class="mt-4 mb-4">
                    {% for position in current_customer_order.positions.all %}
                    <div class="row g-0 fw-bold">
                        <div class="col-2">
                            {% if not position.production_plan or not position.production_plan.is_locked %}
                            {% max_quantity production_day_next position.product as production_day_product_max_quantity %}
                            <form method="POST" action="{% url "shop:customer-order-position-update" pk=position.pk %}" class="me-2">
                                {% csrf_token %}
                                <select class="form-select form-select-xs" name="quantity" onchange="this.form.submit()">
                                    {% for i in production_day_product_max_quantity|times %}
                                    <option value="{{i}}" {% if position.quantity == i %}selected{% endif %}>{{i}}x</option>
                                    {% endfor %}
                                  </select>
                            </form>
                            {% else %}
                            {{ position.quantity}}&nbsp;x
                            {% endif %}
                        </div>
                        <div class="col">
                            {{ position.product }}
                        </div>
                        {% if not position.production_plan or not position.production_plan.is_locked %}
                        <div class="col-2 text-end">
                            <form method="POST" action="{% url "shop:customer-order-position-delete" pk=position.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link btn-sm"><i class="fas fa-trash text-white"></i></button>
                            </form>
                        </div>
                        {% else %}
                        <div class="col text-end">
                            {% include "workshop/includes/production_plan_state.html" with production_plan=position.production_plan css_class='bg-light text-dark' %}
                        </div>
                        {% endif %}
                    </div>
                    <hr>
                    {% empty %}
                    <p>Bisher wurde noch kein Brot für den aktuellen Backtag bestellt.</p>
                    {% endfor %}
                    {% if point_of_sales.count > 1 %}
                    <form method="POST" action="{% url "shop:customer-order-update" pk=current_customer_order.pk %}">
                        {% csrf_token %}
                    <p class="small">Bei deiner Bestellung ist die Abholstelle: <select class="form-select form-select-xs d-inline w-auto pe-3" name="point_of_sale" onchange="this.form.submit()">
                        {% for point_of_sale in point_of_sales %}
                        <option value="{{ point_of_sale.pk }}" {% if current_customer_order.point_of_sale == point_of_sale %} selected{% endif %}>{{ point_of_sale }}</option>
                        {% endfor %}
                      </select> hinterlegt.</p>
                    </form>
                    {% else %}
                      <p>Bei deiner Bestellung ist die Abholstelle: <strong>{{ current_customer_order.point_of_sale }}</strong> hinterlegt.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    <form class="row justify-content-center" method="post" action="{% url 'shop:order-add-batch' production_day=production_day_next.pk %}">
        {% csrf_token %}
    {% for production_day_product in production_day_products %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 {% if forloop.first and current_customer_order.positions.all %}offset-md-6 offset-lg-4 offset-xl-3{% endif %}">
            <div class="card h-100">
                {% if production_day_product.production_day_product.production_plan.is_production %}
                <span class="badge bg-dark top-right text-uppercase fs-6">In Produktion</span>
                {% elif production_day_product.production_day_product.production_plan.is_produced %}
                <span class="badge bg-dark top-right text-uppercase fs-6">Produziert</span>
                {% elif production_day_product.production_day_product.is_sold_out %}
                <span class="badge bg-dark top-right text-uppercase fs-6">Ausverkauft</span>
                {% endif %}
                {% if production_day_product.production_day_product.product.image %}
                {% thumbnail production_day_product.production_day_product.product.image "600x450" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="card-img-top img-fluid" alt="product image">
                {% endthumbnail %}
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title hyphens-auto">{{ production_day_product.production_day_product.product.name }} 
                        <span class="small text-muted">{{ production_day_product.production_day_product.product.weight|floatformat:"0" }}{{ production_day_product.production_day_product.product.unit}}</span>
                    </h2>
                    <p>{{ production_day_product.production_day_product.product.description|safe|linebreaksbr|urlize }}</p>
                    <hr class="mr--1 ml--1">
                    {% with ingredients=production_day_product.production_day_product.product.get_full_ingredient_list %}
                    {% if ingredients %}
                    <p class="small mb-0"><strong>Zutaten</strong>: {% for ingredient in ingredients %}{{ ingredient.0 }}{% if not forloop.last %},{% endif %} {% endfor %}</p>
                    {% endif %}
                    {% endwith %}
                </div>
                
                <div class="card-footer bg-white text-end border-top-0">
                    {% for tag in production_day_product.production_day_product.product.tags.all %}<span class="badge rounded-pill bg-secondary me-1"><i class="fas fa-tag"></i> {{ tag }}</span>{% endfor %}
                </div>
                {% if user.is_authenticated %}
                    <div class="card-footer">
                        {% if not production_day_product.production_day_product.is_sold_out and not production_day_product.production_day_product.is_locked %}
                        <div class="row mb-2">
                            <div class="col-7">
                                {{ production_day_product.form.product }}
                                <div class="input-group">
                                    <button class="btn btn-outline-secondary btn-minus" {% if is_locked or production_day_product.production_day_product.is_sold_out %} disabled{% endif %} type="button" data-type="minus" data-field="quantity"><i class="fa-solid fa-minus fa-fw"></i></button>
                                    <input type="number" {% if is_locked %} disabled{% endif %} value="0" min="{{ production_day_product.form.quantity.field.widget.attrs.min }}" max="{{ production_day_product.form.quantity.field.widget.attrs.max }}" class="form-control" placeholder="Quantity" name="{{ production_day_product.form.quantity.html_name }}" id="{{ production_day_product.form.quantity.id_for_label }}">
                                    <button class="btn btn-outline-secondary btn-plus" {% if is_locked or production_day_product.production_day_product.is_sold_out %} disabled{% endif %} type="button" data-type="plus" data-field="quantity"><i class="fa-solid fa-plus fa-fw"></i></button>
                                </div>
                            </div>
                            <div class="col-5">
                                <button type="submit" class="btn btn-primary"{% if is_locked %} disabled{% endif %}>Bestellen</button>
                            </div>
                        </div>
                        {% else %}
                            {% if production_day_product.production_day_product.is_locked %}
                            <p class="small mb-0">Dieses Produkt wird aktuell schon produziert und kann nicht mehr bestellt werden.</p>
                            {% elif production_day_product.production_day_product.is_sold_out %}
                            <p class="small mb-0">Dieses Produkt ist leider bereits ausverkauft und kann nicht mehr bestellt werden.</p>
                            {% endif %}
                        {% endif %}

                    </div>
                    {% customer_quantity production_day_product.production_day_product as customer_quantity %}
                    {% if not production_day_product.production_day_product.is_locked or customer_quantity %}
                    <div class="card-footer">
                        <p class="small text-center mb-0">
                            {% if customer_quantity %}
                            Du hast dieses Produkt bereits <strong>{{ customer_quantity }} mal</strong> bestellt. <a href="#current-order">Zur Bestellung springen.</a>
                            {% else %}
                            Du hast dieses Produkt bisher noch nicht bestellt.
                            {% endif %}
                        </p>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </form>
</div>
{% endif %}