{% load l10n %}
{% load shop_tags %}
{% load wagtailimages_tags %}
{% if user.is_authenticated %}
{% customer_quantity production_day_product as customer_quantity %}
{% endif %}
<div class="card h-100 product-card" id="product-{{ production_day_product.pk }}" data-product="{{ production_day_product.product.pk }}" data-ordered-quantity="{{ customer_quantity|default:0 }}">
    {% if production_day_product.group %}
    <span class="badge bg-primary top text-uppercase fs-5">{{ production_day_product.group }}</span>
    {% endif %}
    {% if production_day_product.production_plan.is_production %}
    <span class="badge bg-dark top-middle text-uppercase fs-6">In Produktion</span>
    {% elif production_day_product.production_plan.is_produced %}
    <span class="badge bg-dark top-middle text-uppercase fs-6">Produziert</span>
    {% elif production_day_product.is_sold_out %}
    <span class="badge bg-dark top-middle text-uppercase fs-6 opacity-100 shadow">Ausverkauft</span>
    {% endif %}
    {% if production_day_product.is_locked or production_day_product.is_sold_out%}<div class="opacity-60">{% endif %}

        {% include "shop/includes/product_card_header.html" with product=production_day_product.product %}
        {% include "shop/includes/product_card_body.html" with product=production_day_product.product %}

        {% if user.is_authenticated %}
        <div class="card-footer border-top-0 bg-transparent">
            {% if not production_day_product.is_sold_out and not production_day_product.is_locked %}
            <div class="row mb-2">
                <div class="col">
                    <div class="input-group">
                        <button class="btn btn-outline-secondary btn-minus" {% if is_locked or production_day_product.is_sold_out %} disabled{% endif %} type="button" data-type="minus" data-field="quantity" data-product="{{ production_day_product.product.pk }}"><i class="fa-solid fa-minus fa-fw"></i></button>
                        <input type="number" {% if is_locked %} disabled{% endif %} value="0" min="0" max="{{ production_day_product.calculate_max_quantity }}" class="form-control product-quantity" placeholder="Quantity" name="{{ form.quantity.html_name }}" id="product-quantity-input-{{ production_day_product.product.pk }}" data-product="{{ production_day_product.product.pk }}" data-ordered-quantity="{{ customer_quantity|default:0 }}">
                        <button class="btn btn-primary btn-plus" {% if is_locked or production_day_product.is_sold_out %} disabled{% endif %} type="button" data-type="plus" data-field="quantity" data-product="{{ production_day_product.product.pk }}"><i class="fa-solid fa-plus fa-fw"></i></button>
                    </div>
                </div>
            </div>
            {% if show_remaining_products %}
            <p class="mb-1 text-center">Noch <span class="fw-bold">{{ production_day_product.calculate_max_quantity }} Stück</span> verfügbar</p>
            {% endif %}
        {% endif %}
        </div>
    {% elif not production_day_product.is_sold_out %}
        <div class="card-footer">
            <p class="fw-bold mb-0">
                Jetzt <a href="{% url 'shop:login' %}" class="">anmelden</a> um zu bestellen!
            </p>
        </div>
    {% endif %}
{% if production_day_product.is_locked or production_day_product.is_sold_out%}</div>{% endif %}
</div>
