{% load django_bootstrap5 %}
{% load i18n %}
{% load thumbnail %}
{% load shop_tags %}
{% load humanize %}
{% load wagtailcore_tags %}

{% if production_day_products %}
<div class="row">
    <div class="col">
        <form method="POST" class="anchor" action="{% url 'shop:redirect-production-day' %}" id="backtag">
            <div class="row align-items-start">
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-6 col-md-auto">
                            <label for="select-production-day-date" class="fs-3 fw-bold anchor">Backtag: </label>
                        </div>
                        <div class="col-6 col-md-auto">
                            {% csrf_token %}
                            <div class="input-group">
                                <input id="select-production-day-date" inputmode="none" class="form-control fs-4 fw-bold border-0" data-date="{{ production_day.day_of_sale|date:'d.m.Y' }}'" name="production_day_date">
                                <span class="input-group-text fs-3 fw-bold border-0 l-h1 bg-white"><i class="fa-solid fa-calendar-days"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 production-day-description">
                        <div class="col">
                            {% if production_day.description %}
                            <p class="mb-4 mb-4 lead">{{ production_day.description|safe|linebreaksbr|urlize }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    {% if user.is_authenticated %}
                    {% include "shop/includes/basket.html" %}
                    {% else %}
                    <div class="card bg-primary text-white mb-3">
                        <div class="card-body">
                            <h4 class="card-title hyphens-auto fw-bold" id="current-order">Brotkorb</h4>
                            <p class="mb-0">Um bestellen zu können musst du dich zuerst <a href="{% url 'shop:login' %}" class="text-white fw-bold">anmelden</a> oder <a href="{% url 'shop:signup' %}" class="text-white fw-bold">registrieren</a>.</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
{% if user.is_authenticated %}
    {% include "shop/includes/checkout.html" with name='checkout' customer_order=current_customer_order production_day=production_day products=production_day_products %}
{% endif %}
<div class="row gy-4">
    {% for production_day_product in production_day_products %}
    <div class="col-12 col-md-6 col-lg-4">
        {% include "shop/includes/product_card.html" %}
    </div>
    {% endfor %}
</div>
{% endif %}
<script>
     window.addEventListener('DOMContentLoaded', () => {
        var datesEnabled = {{ all_production_days|safe }};
         const elem = document.getElementById('select-production-day-date');
     const datepicker = new Datepicker(elem, {
        format: 'dd.mm.yyyy',
        beforeShowDay: function(date) {
            date_formatted = date.toLocaleDateString('de-de', {
                day: '2-digit',
                month: '2-digit',
                year: 'numeric'
            });
            if (datesEnabled.indexOf(date_formatted) != -1) {
                return {
                classes: 'date-enabled',
                // tooltip: 'Vous pouvez choisir cette date'
                }
            } else {
                return false;
            }
        },    
        }); 
        elem.addEventListener('changeDate', function(e) {
            this.form.submit();
        });
        var addon = document.getElementById('select-production-day-date').nextElementSibling.nextElementSibling;
        addon.addEventListener('click', function(){ datepicker.show()}, false);
    });

</script>
