{% load shop_tags %}
{% load l10n %}
{% load wagtailimages_tags %}
<div class="card-body">
    <div class="d-flex justify-content-between">
        <h2 class="card-title hyphens-auto fw-bold">{{ product.get_display_name }}
            <span class="small text-muted fw-normal text-nowrap">{{ product.weight_in_base_unit|clever_weight|localize }}</span>
        </h2>
        {% if product.is_bio_certified and settings.pages.GeneralSettings.bio_certification_logo %}
        {% image settings.pages.GeneralSettings.bio_certification_logo height-40 class="ms-2" %}
        {% endif %}
    </div>
    <p>{{ product.description|safe|linebreaksbr|urlize }}</p>
    {% with ingredients=product.get_full_ingredient_list %}
    {% if ingredients %}
    <p class="small mb-0 text-muted"><strong>Zutaten</strong>: {% for ingredient in ingredients %}{{ ingredient.0.get_display_name }}{% if not forloop.last %},{% endif %} {% endfor %}</p>
    {% endif %}
    {% endwith %}
    {% if product.sale_price %}
        <p class="mt-3 mb-3 fs-5 fw-bold">{{ product.sale_price.price }} <small class="text-muted fw-normal">({% base_price product %})</small></p>
    {% endif %}
</div>
