{% load l10n %}
{% load shop_tags %}
<div class="card h-100 product-card">
        {% include "shop/includes/product_card_header.html" with product=product %}
        {% include "shop/includes/product_card_body.html" with product=product %}

        <div class="card-footer">
            {% if product.production_days.upcoming %}
            <h4>Nächste Backtage:</h4>
            <div class="d-grid gap-2">
                {% upcoming_available_production_days product as production_days %}
                {% for production_day in production_days %}
                <a href="{% url 'shop:shop-production-day' production_day=production_day.production_day.pk %}#product-{{production_day.pk}}" class="btn btn-primary"><span class="fw-bold">{{ production_day.production_day.day_of_sale|date:'d.m.Y' }}</span> {% if production_day.is_locked %}(0 verfügbar){% else %}({{ production_day.calculate_max_quantity }} verfügbar){% endif %}</a>
                {% endfor %}
            </div>
            {% else %}
            <h4>Keine Backtage geplant</h4>
            {% endif %}
        </div>
</div>
