{% load wagtailcore_tags %}
<div class="row gy-4">

    {% for production_day in production_days %}
    <div class="col-12 col-md-6">
        {%  include 'shop/includes/production_day_card.html' %}
    </div>
    {% empty %}
    {% if value.text_no_production_day %}
        <div class="col">
            {% include_block value.text_no_production_day %}
        </div>
    {% else %}
        <div class="col">
            <p>Aktuell sind keine weiteren Backtage geplant.</p>
        </div>
    {% endif %}
    {% endfor %}
</div>
