{% if settings.pages.BrandSettings.is_brand_theme_activated %}
<style>
    :root {
        {% if settings.pages.BrandSettings.primary_color %}
        --bs-primary: {{ settings.pages.BrandSettings.primary_color }};
        --bs-primary-rgb: {{ settings.pages.BrandSettings.primary_color|hex_to_rgb }};
        --bs-link-color: {{ settings.pages.BrandSettings.primary_color }};
        --bs-link-hover-color: {{ settings.pages.BrandSettings.primary_color }};
        --bs-dropdown-link-active-bg: {{ settings.pages.BrandSettings.primary_color }};
        {% endif %}
        {% if settings.pages.BrandSettings.secondary_color %}
        --bs-secondary: {{ settings.pages.BrandSettings.secondary_color }};
        --bs-secondary-rgb: {{ settings.pages.BrandSettings.secondary_color|hex_to_rgb }};
        {% endif %}
        {% if settings.pages.BrandSettings.light_color %}
        --bs-light: {{ settings.pages.BrandSettings.light_color }};
        --bs-light-rgb: {{ settings.pages.BrandSettings.light_color|hex_to_rgb }};
        {% endif %}
        {% if settings.pages.BrandSettings.dark_color %}
        --bs-dark: {{ settings.pages.BrandSettings.dark_color }};
        --bs-dark-rgb: {{ settings.pages.BrandSettings.dark_color|hex_to_rgb }};
        {% endif %}
    }
    .accordion {
        --bs-accordion-active-color: {{ settings.pages.BrandSettings.primary_color }};
        --bs-accordion-active-bg: rgba(var(--bs-primary-rgb), 0.2);
        --bs-accordion-btn-focus-border-color: rgba(var(--bs-primary-rgb), 0.8);
    }
    .btn-primary {
        --bs-btn-bg: {{ settings.pages.BrandSettings.primary_color }};
        --bs-btn-border-color: {{ settings.pages.BrandSettings.primary_color }};
        --bs-btn-hover-bg: rgba(var(--bs-primary-rgb), 0.8);
        --bs-btn-hover-border-color: rgba(var(--bs-primary-rgb), 0.8);
        --bs-btn-active-bg: rgba(var(--bs-primary-rgb), 0.8);
        --bs-btn-active-border-color: rgba(var(--bs-primary-rgb), 0.8);
        --bs-btn-color: var(--bs-white);
        --bs-btn-hover-color: var(--bs-white);
    }
    .btn-outline-primary {
        --bs-btn-border-color: {{ settings.pages.BrandSettings.primary_color }};
        --bs-btn-hover-bg: {{ settings.pages.BrandSettings.primary_color }};
        --bs-btn-hover-border-color: {{ settings.pages.BrandSettings.primary_color }};
        --bs-btn-active-bg: rgba(var(--bs-primary-rgb), 0.8);
        --bs-btn-active-border-color: rgba(var(--bs-primary-rgb), 0.8);
        --bs-btn-color: {{ settings.pages.BrandSettings.primary_color }};
        --bs-btn-hover-color: var(--bs-white);
    }
    .text-bg-primary {
        background-color: var(--bs-primary)!important;
        color: var(--bs-light)!important;
    }
    {% if settings.pages.BrandSettings.secondary_color %}
    .text-bg-secondary {
        background-color: var(--bs-secondary)!important;
        color: var(--bs-light)!important;
    }
    {% endif %}
    .table-primary {
        --bs-table-color: #000;
        --bs-table-bg: rgba(var(--bs-primary-rgb), 0.2);
        /* --bs-table-border-color: #ddcac4;
        --bs-table-striped-bg: #e9d5cf;
        --bs-table-striped-color: #000;
        --bs-table-active-bg: #ddcac4;
        --bs-table-active-color: #000;
        --bs-table-hover-bg: #e3cfca;
        --bs-table-hover-color: #000; */
    }
    .form-check-input:checked {
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);
    }
    .form-check-input:focus {
        box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb),.25);
        border-color: rgba(var(--bs-primary-rgb),.25);
    }
    .form-control:focus {
        border-color: rgba(var(--bs-primary-rgb),.25);
    }
    .form-select:focus {
        box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb),.25);
        border-color: rgba(var(--bs-primary-rgb),.25);
    }
    .btn-close:focus {
        box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb),.25);
    }
    .btn-secondary {
            --bs-btn-bg: {{ settings.pages.BrandSettings.secondary_color }};
            --bs-btn-border-color: {{ settings.pages.BrandSettings.secondary_color }};
            --bs-btn-hover-bg: rgba(var(--bs-secondary-rgb), 0.8);
            --bs-btn-hover-border-color: rgba(var(--bs-secondary-rgb), 0.8);
            --bs-btn-active-bg: rgba(var(--bs-secondary-rgb), 0.8);
            --bs-btn-active-border-color: rgba(var(--bs-secondary-rgb), 0.8);
            --bs-btn-color: var(--bs-white);
            --bs-btn-hover-color: var(--bs-white);

    }
    .btn-white {
        --bs-btn-border-color: {{ settings.pages.BrandSettings.primary_color }};
    }
    .datepicker-cell.date-enabled {
        color: {{ settings.pages.BrandSettings.primary_color }}!important;
        font-weight: bold;
    }
    .datepicker-cell.selected {
        background-color: {{ settings.pages.BrandSettings.primary_color }}!important;
        color: #fff!important;
    }

    .form-control:focus {
        box-shadow: 0 0 0 0.25rem rgba({{ settings.pages.BrandSettings.primary_color|hex_to_rgb }},.25);
    }
    .dropdown-menu {
        --bs-dropdown-link-active-bg: {{ settings.pages.BrandSettings.primary_color }};
    }
    {% if settings.pages.BrandSettings.custom_css %}
    {{ settings.pages.BrandSettings.custom_css|safe }}
    {% endif %}

</style>
{% endif %}
