{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}bakeup{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Best baking app ever!">
    <meta name="author" content="Matthias Brück, Niels Götsch and Ole Jancke">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    <meta property="og:title" content="{{ request.tenant.name }}" />
    {% if request.tenant.description %}
    <meta property="og:description" content="{{ request.tenant.description }}" />
    <meta property="og:author" content="" />
    {% endif %}
    {% if request.tenant.logo %}
    <meta property="og:image" content="https://bakeup.org{{ request.tenant.logo.url }}" />
    <meta name="twitter:image" content="https://bakeup.org{{ request.tenant.logo.url }}" />
    {% endif %}
    <meta property="twitter:title" content="{{ request.tenant.name }}" />
    <meta name="twitter:card" content="summary_large_image" />
    

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    
    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fa/all.min.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}

  </head>

  <body>

    
    {% block content %}
      <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}


    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
