{% load static i18n wagtailimages_tags %}{% load django_htmx %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}bakeup{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% if settings.pages.BrandSettings.logo %}
    {% image settings.pages.BrandSettings.logo fill-16x16 as favicon %}
    <link rel="icon" type="image/png" href="{{ favicon.url }}">
    {% else %}
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    {% endif %}
    
    <meta property="og:title" content="{% block og_title %}{{ request.tenant.name }}{% endblock og_title %}" />
    <meta name="description" content="{% block description %}{{ request.tenant.description }}{% endblock description %}">
    <meta property="og:description" content="{% block og_description %}{{ request.tenant.description }}{% endblock og_description %}" />
    
    {% if settings.pages.BrandSettings.logo %}
    <meta property="og:image" content="https://bakeup.org{{ settings.pages.BrandSettings.logo.url }}" />
    <meta name="twitter:image" content="https://bakeup.org{{ settings.pages.BrandSettings.logo.url }}" />
    {% endif %}
    <meta property="twitter:title" content="{{ request.tenant.name }}" />
    <meta name="twitter:card" content="summary_large_image" />
    

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    
    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fa/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datepicker-bs5.min.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
      <script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script defer src="{% static 'js/htmx.min.js' %}" ></script>
      <script defer src="{% static 'js/datepicker.min.js' %}"></script>
      {% load django_htmx %}
      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}
    {% block theme %}
    {% endblock theme %}

  </head>

  <body class="h-100 d-flex flex-column {% block body_class%}{% endblock body_class%}">

    
    {% block content %}
      <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}


    {% block modal %}{% endblock modal %}
    {% block footer %}
    {% endblock footer %}

    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
