<table class="table table-sm">
    <tr>
        <th>Product</th>
        <th>ordered qty</th>
        <th>max qty</th>
        <th>published?</th>
    </tr>
    {% for product in record.production_day_products.all %}
    <tr{% if product.get_order_quantity > product.max_quantity %} class="table-danger"{% endif %}>
        <td>{{ product.product }}</td>
        <td>{{ product.get_order_quantity }}</td>
        <td>{{ product.max_quantity }}</td>
        <td>{% if product.is_published %}<i class="far fa-circle-check"></i>{% else %}<i class="far fa-times-circle"></i>{% endif %}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'workshop:order-add' pk=record.pk %}" class="btn btn-sm btn-outline-primary">Update orders</a>
