{% extends base_template %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ user.username }}{% endblock %}

{% block page_content %}
  <h1>Hallo {{ user }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'shop:user-profile' %}">
  <div class="row">
    <div class="col col-md-4">
      <h4>Stammdaten:</h4>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" name="update-data" class="btn btn-primary">Aktualisieren</button>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-4">
      <h4 class="mt-4">E-Mail:</h4>
      <p>Aktuell ist <strong>{{ user.email }}</strong> in deinem Account hinterlegt. Du kannst eine neue E-Mail adresse hinzufügen in dem du in dem folgenden Formular die neue E-Mail adresse eingibst und anschließend bestätigst.</p>
        {{ add_email_form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button name="add-email" type="submit" class="btn btn-primary">E-Mail ändern</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
