{% extends base_template %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ user.username }}{% endblock %}

{% block page_content %}
  <h1>Hallo {{ user }}</h1>
  <p>{% trans 'Here you can update your personal data, e-mail address and password.' %}</p>
  <div class="row g-4">
    <div class="col-12">
      <div class="card px-3 py-3">
        <h4>Stammdaten:</h4>
        <form class="form-horizontal w-50" method="post" id="user_profile">
          {% csrf_token %}
          {% crispy forms.user_profile %}
          <div class="control-group">
            <div class="controls">
              <button type="submit" name="action" value="user_profile" class="btn btn-primary">Aktualisieren</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12">
      <div class="card px-3 py-3">
        <h4 class="">E-Mail:</h4>
        <p>
        {% blocktranslate with email=user.email %}Currently <strong>{{ email }}</strong> is stored in your account. You can add a new email address by entering the new email address in the following form and confirming it afterwards.{% endblocktranslate %}
        </p>
        <form class="form-horizontal w-50" method="post" id="add_email">
          {% csrf_token %}
          {{ forms.add_email|crispy }}
          <div class="control-group">
            <div class="controls">
              <button name="action" type="submit" value="add_email" class="btn btn-primary">E-Mail ändern</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12">
      <div class="card px-3 py-3">
        <h4 class="">{% trans "Change Password" %}</h4>

        <form method="POST" class="password_change w-50" id="change_password">
            {% csrf_token %}
            {{ forms.change_password|crispy }}
            <button type="submit" name="action" value='change_password' class="btn btn-primary">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
      </div>
    </div>
    <div class="col-12">
      <div class="card px-3 py-3">
        <h4 class="">{% trans "Closure of Your Account" %}</h4>
        <div class="w-75">
          <p>{% trans 'Do you really want to close your account and delete all your personal information?' %}</p>
            {% csrf_token %}
            <a type="submit" href="{% url 'shop:account-closure' %}" class="btn btn-primary">{% trans "Close Account" %}</a>
        </div>
      </div>
    </div>
  </div>
  <script>
    {% if first_invalid_form %}
    var anchor = document.querySelector('#{{ first_invalid_form }}');
    anchor.scrollIntoView(true);
    {% endif %}
  </script>
{% endblock %}
