{% extends "shop/base_page.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'Close your account' %}{% endblock %}
{% block page_content %}
<div class="row">
    <div class="col-lg-6 col">
        <div class="card px-3 py-3">
            <h3 class="mb-4">{% trans 'Do you really want to close your account?' %}</h3>
            <form action="" method="post">
                {% csrf_token %}
                <input class="btn btn-link"
                       type="button" value="{% trans 'Cancel' %}"
                       onclick="window.history.go(-1);"/>
                <input class="btn btn-primary" type="submit" value="{% trans 'Confirm' %}"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}
