{% extends base_template %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ user.username }}{% endblock %}

{% block page_content %}
  <h1>Hallo {{ user }}</h1>
  <p>Hier kannst du deine E-Mail Adresse und deinen Namen ändern.</p>
  <div class="row">
    <div class="col col-md-4">
      <h4>Stammdaten:</h4>
      <form class="form-horizontal" method="post" action="{% url 'shop:user-profile' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" name="update-data" class="btn btn-primary">Aktualisieren</button>
          </div>
        </div>
      </form>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-4">
      <h4 class="mt-4">E-Mail:</h4>
      <p>Aktuell ist <strong>{{ user.email }}</strong> in deinem Account hinterlegt. Du kannst eine neue E-Mail adresse hinzufügen in dem du in dem folgenden Formular die neue E-Mail adresse eingibst und anschließend bestätigst.</p>
      <form class="form-horizontal" method="post" action="{% url 'shop:user-profile' %}">
        {% csrf_token %}
        {{ add_email_form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button name="add-email" type="submit" class="btn btn-primary">E-Mail ändern</button>
          </div>
        </div>
        </form>
        <hr class="">
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col col-md-4">
      <h4 class="mt-4">{% trans "Change Password" %}</h4>

      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
          {% csrf_token %}
          {{ change_password_form|crispy }}
          <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
          <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </form>
    </div>
  </div>
{% endblock %}
