{% extends "base.html" %}

{% load utils%}
{% block theme %}
  {% include 'shop/includes/theme.html' %}
{% endblock %}
{% block body_class %}shop{% endblock %}
{% block content %}
{% block header %}
{% include "shop/includes/header.html" %}
{% endblock header %}
{% block jumbotron %}
{% endblock jumbotron %}
<div class="container mb-4">
  {% if messages %}
  <div class="row mt-2">
    <div class="col">
          {% for message in messages %}
            <div class="alert alert-dismissible alert-dark">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
          
        </div>
      </div>
  {% endif %}
  {% block page_header %}
  <div class="row mt-2">
    <div class="col-8">
      <div class="page-heading p-4">
        <h1>{% block page_heading %}{% endblock page_heading %}</h1>
      </div>
    </div>
    <div class="col align-self-center d-print-none">
      {% block page_heading_action %}{% endblock page_heading_action%}
    </div>
  </div>
  {% endblock page_header %}
  {% block page_content_container %}
  <div class="row justify-content-center">
    <div class="col-12 col-xl-10">
      {% block page_content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock page_content %}
      </div>
  </div>
  {% endblock page_content_container %}
</div>
{% endblock content %}

{% block footer %}
{% include 'shop/includes/footer.html' %}
{% endblock footer %}