{% extends "base.html" %}

{% block content %}
{% include "shop/includes/header.html" %}
<div class="container">
  <div class="row">
    <div class="col">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
    
      </div>
  </div>
  {% block page_header %}
  <div class="row mt-2">
    <div class="col-8">
      <div class="page-heading p-4">
        <h1>{% block page_heading %}{% endblock page_heading %}</h1>
      </div>
    </div>
    <div class="col align-self-center d-print-none">
      {% block page_heading_action %}{% endblock page_heading_action%}
    </div>
  </div>
  {% endblock page_header %}
  <div class="row">
    <div class="col">
      {% block page_content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock page_content %}
    </div>
  </div>
</div>
{% endblock content %}