{% extends "base.html" %}

{% block content %}
{% include "shop/includes/header.html" %}
<div class="container mb-4">
  <div class="row mt-2">
    <div class="col">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible alert-dark">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
    
      </div>
  </div>
  {% block page_header %}
  <div class="row mt-2">
    <div class="col-8">
      <div class="page-heading p-4">
        <h1>{% block page_heading %}{% endblock page_heading %}</h1>
      </div>
    </div>
    <div class="col align-self-center d-print-none">
      {% block page_heading_action %}{% endblock page_heading_action%}
    </div>
  </div>
  {% endblock page_header %}
  <div class="row">
    <div class="col">
      {% block page_content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock page_content %}
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}
{% if request.tenant.clientinfo %}
<footer class="footer mt-auto py-4 bg-dark text-light mt-5">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-3">
        <ul class="list-unstyled">
          {% if request.tenant.clientinfo.contact_email %}
          <li class="py-1"><i class="far fa-envelope fa-fw"></i> <a href="mailto:{{ request.tenant.clientinfo.contact_email }}" class="text-light">{{ request.tenant.clientinfo.contact_email }}</a></li>
          {% endif %}
          {% if request.tenant.clientinfo.contact_phone %}
          <li class="py-1"><i class="fas fa-phone fa-fw"></i> <a href="tel:{{ request.tenant.clientinfo.contact_phone }}" class="text-light">{{ request.tenant.clientinfo.contact_phone }}</a></li>
          {% endif %}
          {% if request.tenant.clientinfo.contact_instagram %}
          <li class="py-1"><i class="fab fa-instagram fa-fw"></i> <a href="https://www.instagram.com/{{ request.tenant.clientinfo.contact_instagram }}/" target="_blank" class="text-light">{{ request.tenant.clientinfo.contact_instagram }}</a></li>
          {% endif %}
        </ul>

      </div>
      <div class="col-4">
        <p class="lead">
          {{ request.tenant.clientinfo.contact_text }}
        </p>
      </div>
    </div>
  </div>
</footer>
{% endif %}
{% endblock footer %}