{% extends "shop/base_page.html" %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block title %}{{ request.tenant.name }} - Bestellungen{% endblock %}
{% block page_heading %}Bestellungen{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col-12 col-lg-10">
    {% for order in object_list %}
    <div class="card px-3 py-2 mb-5" id="bestellung-{{ order.pk }}">
        <h2>Abo <span class="badge rounded-pill text-bg-secondary fs-6">{{ order.get_state }}</span></h2>
        <p>Das Abo umfasst die folgenden Produkte:</p>
        <div class="row">
            <div class="col-12 col-lg-8">
                <table class="table table-light">
                    <thead>
                      <tr>
                        <th scope="col">Menge</th>
                        <th scope="col">Gebäck</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for position in order.positions.all %}
                            <tr>
                            <td>{{ position.quantity }}x</td>
                            <td>{{ position.product }}</td>
                            <td>{% if position.order_template.is_running %}<a href="{% url 'shop:customer-order-template-delete' pk=position.pk %}" class="btn btn-primary btn-sm">Abo beenden</a>{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                  {% if not order.is_locked %}
                  {% endif %}
            </div>
        </div>
    </div>
    
    {% empty %}
    <p class="mt-4">Bisher liegen noch keine Abos vor.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}