{% extends "shop/base_page.html" %}
{% load crispy_forms_tags i18n %}
{% load render_table from django_tables2 %}

{% block title %}{{ request.tenant.name }} - Abo kündigen{% endblock %}
{% block page_heading %}Abo kündigen{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-12 col-lg-6">
        <h3 class="mb-3">{% trans 'Do you really want to cancel the subscription?' %}</h3>
        <div class="card px-3 py-4 mb-5">
            <table class="table table-light">
                <thead>
                    <tr>
                    <th scope="col">Menge</th>
                    <th scope="col">Gebäck</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ object.quantity }}x</td>
                        <td>{{ object.product }}</td>
                        <td></td>
                    </tr>
                </tbody>
                </table>
            <p></p>
            <form action="" method="post">
                {% csrf_token %}
                <input class="btn btn-outline-primary" 
                        type="button" value="Zurück" 
                        onclick="window.history.go(-1);"/>
                <input class="btn btn-primary" type="submit" value="Bestätigen"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}


