{% extends "shop/base_page.html" %}
{% load utils %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block title %}{{ request.tenant.name }} - Bestellungen{% endblock %}
{% block page_heading %}Bestellungen{% endblock %}

{% block page_content %}
{% if abos %}
<div class="row">
  <div class="col-12 col-lg-10">
    {% for order in abos %}
    <div class="card px-3 py-2 mb-5" id="bestellung-{{ order.pk }}">
      <h2>Abo <span class="badge rounded-pill text-bg-secondary fs-6">{{ order.get_state }}</span></h2>
        <p>Das Abo umfasst die folgenden Produkte:</p>
        <div class="row">
            <div class="col-12 col-lg-8">
                <table class="table table-light">
                    <thead>
                      <tr>
                        <th scope="col">Menge</th>
                        <th scope="col">Gebäck</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for position in order.positions.all %}
                            <tr>
                            <td>{{ position.quantity }}x</td>
                            <td>{{ position.product.get_display_name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                  {% if order.is_running %}
                  <a class="btn btn-outline-primary fw-bold" href="{% url 'shop:customer-order-template-delete' pk=order.pk %}">Abo beenden</a>
                  <a class="btn btn-primary fw-bold" data-bs-toggle="modal" data-bs-target="#modal-order-template-{{ order.id }}">Abo ändern</a>
                  {% endif %}
            </div>
        </div>
    </div>
    {% include "shop/includes/checkout_abo.html" with name='abo' display_all=True id=order.id customer_order=order products=order.positions.all %}

    {% empty %}
    <p class="mt-4">Bisher liegen noch keine Abos vor.</p>
    {% endfor %}
  </div>
</div>
{% endif %}

<h2 class="mb-3">Bestellübersicht</h2>
<div class="row">
  <div class="col-12 col-lg-10">
    {% for order in object_list %}
    {% with has_price=order.price_total %}
    <div class="card px-3 py-2 mb-5" id="bestellung-{{ order.pk }}">
        <h4 class="fs-5">Backtag: <strong>{{ order.production_day }}</strong></h4>
        <h4 class="fs-5">Abholung: <strong>{{ order.point_of_sale.name|default:'-' }}</strong></h4>
        <div class="row">
            <div class="col-12">
                <table class="table table-light">
                    <thead>
                      <tr>
                        <th scope="col">Menge</th>
                        <th scope="col">Gebäck</th>
                        <th scope="col">Status</th>
                        {% if order.has_abo %}<th scope="col">Abo</th>{% endif %}
                        {% if has_price %}<th class="price-column" scope="col">Preis</th>{% endif %}
                      </tr>
                    </thead>
                    <tbody>
                        {% for position in order.positions.all %}
                            <tr>
                            <td>{{ position.quantity }}x</td>
                            <td>{{ position.product.get_display_name }}</td>

                            <td>{% include "workshop/includes/production_plan_state.html" with state_css_class=position.production_plan.get_state_css_class label=position.production_plan.get_state_display_value %}</td>
                            {% if order.has_abo %}
                            <td>
                              {% if position.customer_order_template_positions.exists %}
                                <a href="{% url 'shop:order-template-list' %}" data-bs-container="body" data-bs-trigger="hover focus" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Du hast dieses Produkt {{ position.customer_order_template_positions.first.quantity }}x abonniert."><span class="badge rounded-pill text-bg-primary">{{ position.customer_order_template_positions.first.quantity }}x</span></a>
                              {% endif %}
                            </td>
                            {% endif %}
                            {% if has_price %}
                            <td>
                                {% if position.price_total %}
                                <nobr><span class="sale-price">{{ position.price_total.amount }}</span> €</nobr>
                                {% else %}
                                -
                                {% endif %}
                            </td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                        {% if has_price %}
                        <tr class="border-top border-3 price border-white">
                            <td colspan="3"></td>{% if order.has_abo %}<td></td>{% endif %}<td><strong><nobr class="price-total"><span>{{ order.price_total }}</span> €</nobr></strong></td>
                        </tr>
                        {% endif %}
                    </tbody>
                  </table>
                  {% if not order.is_locked %}
                  <a class="btn btn-outline-primary fw-bold" data-bs-toggle="modal" data-bs-target="#modal-order-{{ order.id }}">Bestellung ändern</a>
                  {% endif %}
            </div>
        </div>
    </div>

    {% include "shop/includes/checkout.html" with name='checkout' display_all=True customer_order=order production_day=order.production_day point_of_sales=order.production_day.point_of_sales.all id=order.id products=order.get_production_day_products_ordered_list next_url=next_url show_price=has_price %}
    {% endwith %}
    {% empty %}
    <p class="mt-4">Bisher liegen noch keine Bestellungen vor.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
