{% extends "shop/base_page.html" %}
{% load crispy_forms_tags %}

{% block title %}Shop{% endblock %}
{% block page_header %}{% endblock %}

{% block page_content %}

{% include "shop/includes/production_day_order.html" with production_day=production_day_next production_day_products=production_day_products %}
<div class="row">
  <div class="col">
    <div class="horizontal-ruler">
      <hr class="border border-dark border-3 opacity-100 w-100 position-absolute start-0">
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <h2 id="backtage">Die nächsten Backtage</h2>
  </div>
</div>
{% include "shop/includes/production_days.html" with production_days=production_days %}

{% endblock %}
