{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Shop{% endblock %}
{% block page_header %}{% endblock %}

{% block jumbotron %}
<header class="jumbotron" style="background-image: url('/static/images/header-image.jpg');">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 align-self-end text-center text-white mt-4">
        <h1 class="fw-bold text-uppercase text-shadow">Hasenbrot</h1>
        <h2 class="text-shadow">- Nachbarschaftliche Backstube in Berlin - Grünau -</h2>
      </div>
      <div class="col-12 align-self-end text-center text-white">
        <div class="mb-5">
          <a href="#backtag" class="btn btn-primary btn-lg me-3 mb-3">Nächster Backtag</a>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock jumbotron %}

{% block page_content %}
{% if not production_day %}
<div class="row">
  <div class="col">
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Der Shop ist momentan geschlossen!</h4>
      <p class="mb-0">Im moment ist leider kein Backtag geplant, bitte komm bald wieder zurück!</p>
    </div>
  </div>
</div>
{% else %}
  {% include "shop/includes/production_day_order.html" with production_day=production_day production_day_products=production_day_products %}
{% endif %}
<div class="row">
  <div class="col">
    <div class="horizontal-ruler">
      <hr class="border border-dark border-3 opacity-100 w-100 position-absolute start-0">
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <h2 id="backtage">Die nächsten Backtage</h2>
  </div>
</div>
{% include "shop/includes/production_days.html" with production_days=production_days show_all_link=True %}

{% endblock %}
